.postbody .noboldsig{font-weight:bold;}
.signature .noboldsig{font-weight:normal;}
.signature .nocolorsig{color:#333333;}

a.signature_hideshow {
	text-decoration:none;
	color: #999999;
	font-size:.85em;
	line-height: 100%;
}
a.signature_hideshow:hover{
	text-decoration:none;
	color: #DF1B1B;
	font-size:.85em;
	line-height: 100%;
}

/*private topics*/
#private_user_list li {
	list-style-type: none;
}
#private_user_list li a{
	display: inline-block;
}
#site-description p, #site-description h1 {
	display:none;
}
#private_user_input {
	cursor: text;
}
.private {
	background: #000000;
}
.private a {
	color: white;
}
.private {
	color: black;
	text-shadow: none;
}
.private .content, .private .postprofile, .private .postprofile strong,.private .author {
	color: black;
}
.private .post , .private .postbody{
	color: black;
	text-shadow: none;
}
.private .back2top {
	border-color: black;
}
.private .postprofilecontainer {
	border-color: black;
}
.private .bg1 {
	background: #32AD10;
}
.private .headerbar {
	background-image: none;
	background-color: #348F1B;
}
.private .bg2 {
	background: #348F1B;
}
.private .panel, .private .navbar{
	background: #528C42;
}
.private .corners-top, .private .corners-bottom {
 background-image: none;
}
.repeatable-remove{
	cursor: pointer;
}



/*bbcode*/

.bbtableheader{
	border:1px solid black; 
	padding:3px; 
	background-color: #DDDDDD;
}
.bbvote{
font-weight: bold; 
background:#FFFFFF;
padding: 0px 2px;
}