.postbody .noboldsig{font-weight:bold;}
.signature .noboldsig{font-weight:normal;}
.signature .nocolorsig{color:#333333;}

a.signature_hideshow {
	text-decoration:none;
	color: #999999;
	font-size:.85em;
	line-height: 100%;
}
a.signature_hideshow:hover{
	text-decoration:none;
	color: #DF1B1B;
	font-size:.85em;
	line-height: 100%;
}

/*private topics*/
#private_user_list li {
	list-style-type: none;
}
#private_user_list li a{
	display: inline-block;
}
#site-description p, #site-description h1 {
	display:none;
}
#private_user_input {
	cursor: text;
}
.private {
	background: #000000;
}
.private a {
	color: white;
}
.private {
	color: black;
	text-shadow: none;
}
.private .content, .private .postprofile, .private .postprofile strong,.private .author {
	color: black;
}
.private .post , .private .postbody{
	color: black;
	text-shadow: none;
}
.private .back2top {
	border-color: black;
}
.private .postprofilecontainer {
	border-color: black;
}
.private .bg1 {
	background: #606098;
}
.private .headerbar {
	background-image: none;
	background-color: #70709f;
}
.private .bg2 {
	background: #70709f;
}
.private .panel, .private .navbar{
	background: #2f2f64;
}
.private .corners-top, .private .corners-bottom {
 background-image: none;
}
.repeatable-remove{
	cursor: pointer;
}



/*bbcode*/

.bbtableheader{
	border:1px solid black; 
	padding:3px; 
	background-color: #DDDDDD;
}
.bbvote{
font-weight: bold; 
background:#FFFFFF;
padding: 0px 2px;
}

/* following */
.group_tab{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	color: white;
	background-color: #0098e4;
	cursor: pointer;
	min-width: 130px;
}
.group_add{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	color: white;
	background-color: #0076B1;
	cursor: pointer;
}
#following_widget{
	padding: 10px;
}
#following_groups .topiclist .header{
	background-color: #0076B1;
}
#following_groups .topiclist .header .lastpost{
	padding-left: 5px;
}
.follow_form_element{
	cursor: text;
}
.active_follow_tab{
	background-color: #0076B1;
}
#following_widget fieldset {
	border-width: 1px;
	border-color: #999999;
	border-style: solid;
	padding: 5px;
}
#following_widget dd.email_follow {
	padding-left: 5px;
	width: 50px;
}
.follow_unread_indicator {
	min-width: 20px;
	margin-right: 10px;
	float: right;
	display: inline-block;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}
.processing{
	cursor: progress;
}
.hidden{
	display: none;
}