<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	
	<!-- BEGIN user_alt -->
	
	{user_alt.USER_URL} - {user_alt.IS_APPROVED}
	
	<!-- END user_alt -->
		<dl>
			<label for="add_alt_name" style="width: 5%;">Add Alt:</label>
			
			<input style="margin-left: 6%; width:20%;" type="text" name="add_alt_name" id="add_alt_name" class="inputbox"/>
			
		</dl>

	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

</form>

<!-- INCLUDE ucp_footer.html -->