<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

<style type="text/css">

div#gameInfoMaster {

	width: 100%;
	font-size: 13px;
	margin-bottom: 30px;
	float: left;
}

div.gameFieldNameLabel {

	width: 150px;
	height: 27px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}

#gameInfoLeft {

	float: left;
	width: 300px;
}

#gameInfoRight {

	overflow: hidden;
	width: 80%;
}

#gameModeratorTable {

	font-size: 10px;
	border-bottom: none;
	float: left;
}



#gamePlayerTable {
	float: left;
	font-size: 10px;
}

#gameModeratorTableContainer {
	
}

#gamePlayerTableContainer {
	margin-top: 15px;
}

.gamePlayerHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}

#gameInfoButtonRow {
	margin-top: 7px;
}

.gameInfoUnorderedListButtonIcon
{
	float: right;
	width: auto;
	padding: 0;
}

ul.gameInfoUnorderedListButtonIcon li
{
	float: left;
	list-style: none;
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon
{
	width: 17px;
	height: 20px;
	background-image: url("./styles/prosilver/imageset/icon_post_delete.png");
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon:hover
{
	background-position: 0px -20px !important;
}

ul.gameInfoUnorderedListButtonIcon li.editIcon
{
	width: 53px;
	height: 20px;
	background-image: url("./styles/prosilver/imageset/en/icon_post_edit.png");
}

ul.gameInfoUnorderedListButtonIcon li.editIcon:hover
{
	background-position: 0px -20px !important;
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon
{
	width: 17px;
	height: 20px;
	background-image: url("./styles/prosilver/imageset/icon_post_delete.png");
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon:hover
{
	background-position: 0px -20px !important;
}

ul.gameInfoUnorderedListButtonIcon li a
{
	display: block;
	background-position: 0 0;
	width: 100%;
	height: 100%;
}

input.gameInfoLabel {
	width: 125px;
	font-weight:bold;
}

.hidden {
	display:none;
}

div#addModeratorContainer
{
	margin-top: 15px;
}

div#addModeratorContainer .label
{
	display: inline-block;
	width: 150px;
	height: 27px;
}

div#addModeratorContainer .addModeratorInput
{
	width: 200px;
	display: inline-block;
}


div#addPlayerContainer
{
	margin-top: 15px;
}

div#addPlayerContainer .label
{
	display: inline-block;
	width: 150px;
	height: 27px;
}

div#addPlayerContainer .addPlayerInput
{
	width: 200px;
	display: inline-block;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
	$("#editGameInfoButton").bind("click", function() {

		$(".gameFieldValue").hide();
		$("#gameInfoGameCreatedInputField").show();
		$("#gameInfoGameStartedInputField").show();
		$("#gameInfoGameCompletedInputField").show();
		$("#gameInfoGameTypeInputField").show();
		$("#gameInfoGameStatusInputField").show();
	});

	$(".moderatorRemoveButton").bind("click", function() {

		var moderatorId = $(this).attr("moderatorid");

		//TODO: Send ajax request, handle response.

		$(this).closest("tr").hide("slow", function() { $(this).remove(); });
	});

	$(".playerRemoveButton").bind("click", function() {

		var playerId = $(this).attr("playerid");

		//TODO: Send ajax request, handle response.

		$(this).closest("tr").hide("slow", function() { $(this).remove(); });
	});

	$(".playerEditButton").bind("click", function() {

		var playerId = $(this).attr("playerid");
		alert("Editing player #" + playerId + ".");
	});
});
</script>



<h2>{GAME_NAME}</h2>
<h3>Description goes here!</h3>

<div id="gameInfoMaster">

 <div id="gameInfoLeft">

  <div class="gameFieldNameLabel">ID</div> <span class="gameFieldValue">{GAME_ID}</span><br/>

  <div class="gameFieldNameLabel">Created</div>
   <input type="text" id="gameInfoGameCreatedInputField" name="gameInfoGameCreated" class="gameInfoLabel inputbox hidden" value="{CREATED_TIME}" />
   <span id="gameInfoGameCreatedField" class="gameFieldValue">{CREATED_TIME}</span><br/>

  <div class="gameFieldNameLabel">Started</div>
   <input type="text" id="gameInfoGameStartedInputField" name="gameInfoGameStarted" class="gameInfoLabel inputbox hidden" value="{STARTED_TIME}" />
   <span id="gameInfoGameStartedField" class="gameFieldValue">{STARTED_TIME}</span><br/>

  <div class="gameFieldNameLabel">Completed</div>
   <input type="text" id="gameInfoGameCompletedInputField" name="gameInfoGameCompleted" class="gameInfoLabel inputbox hidden" value="{COMPLETED_TIME}" />
   <span id="gameInfoGameCompletedField" class="gameFieldValue">{COMPLETED_TIME}</span><br/>

  <div class="gameFieldNameLabel">Type</div>
   <select id="gameInfoGameTypeInputField" name="gameInfoGameType" class="gameInfoLabel hidden">
    <option id="0">Large Normal</option>
    <option id="1" selected>Large Theme</option>
   </select>
   <span id="gameInfoGameTypeField" class="gameFieldValue">{GAME_TYPE}</span><br/>

  <div class="gameFieldNameLabel">Status</div>
   <select id="gameInfoGameStatusInputField" name="gameInfoStatusType" class="gameInfoLabel hidden">
    <option id="0">Pending</option>
    <option id="1">Signups</option>
    <option id="2">Ongoing</option>
    <option id="3" selected>Completed</option>
   </select>
   <span id="gameInfoGameStatusField" class="gameFieldValue">{GAME_STATUS}</span><br/>

  <div class="gameInfoButtonRow" id="gameInfoButtonRow">
   <input type="button" class="button2" name="editGameInfoButton" id="editGameInfoButton" value="Edit Details" />
  </div>
 </div>

 <div id="gameInfoRight">
  <div id="gameModeratorTableContainer" class="forumbg forumbg-table">
   <div class="inner">
    <span class="corners-top">
     <span></span>
    </span>
    <table class="table1" cellpadding="10" cellspacing="1" id="gameModeratorTable">
     <thead>
      <tr>
       <th class="gameListHeaderCell">Moderator Name</th>
       <th class="gameListHeaderCell">Type</th>
      </tr>
     </thead>
     <tbody>
<!-- BEGIN moderator -->
      <tr class="bg1">
       <td class="">
        {moderator.USER_URL}
        <ul class="gameInfoUnorderedListButtonIcon">
         <li class="editIcon">
          <a href="#" class="edit" onclick="return 0;" class="moderatorEditButton" moderatorid="{moderator.ID}" /></a>
         </li>
         <li class="removeIcon">
          <a href="#" class="delete" onclick="return 0;" class="moderatorRemoveButton" moderatorid="{moderator.ID}" /></a>
         </li>
        </ul>
       </td>
       <td class="">{moderator.TYPE}</td>
      </tr>
<!-- END moderator -->
     </tbody>
    </table>
    <span class="corners-bottom"><span></span></span>
   </div> <!--- End gameModeratorTableContainer -->
  </div>

<!-- Moderator Edit Panel -->
  <div id="addModeratorContainer">
   <div class="label">Moderator Name:</div>
   <input type="text" id="addModeratorName" name="addModeratorName" class="addModeratorInput inputbox"/><br/>
   <div class="label">Type:</div>
   <select name="addModeratorType" name="addModeratorType">
    <option value = "0" selected="selected">Primary</option>
    <option value = "1">Backup</option>
   </select><br/>
   <input type="hidden" name="addModeratorId" value="-1" />
   <input type="button" class="button2" name="addModeratorSaveButton" value="Save Changes" />
  </div>

  <div id="gamePlayerTableContainer" class="forumbg forumbg-table">
   <div class="inner">
    <span class="corners-top">
     <span></span>
    </span>
    <table class="table1" cellspacing="1" id="gamePlayerTable">
     <thead>
      <tr>
       <th class="gameListHeaderCell">Player Name</th>
       <th class="gameListHeaderCell">Slot #</th>
       <th class="gameListHeaderCell">Alignment</th>
       <th class="gameListHeaderCell">Faction</th>
       <th class="gameListHeaderCell">Role</th>
       <th class="gameListHeaderCell">Start Date</th>
      </tr>
     </thead>
     <tbody>
<!-- BEGIN player -->
      <tr class="bg1">
       <td>
        {player.USER_URL}
        <ul class="gameInfoUnorderedListButtonIcon">
         <li class="editIcon">
          <a href="#" onclick="return 0;" class="playerEditButton" playerid="{player.ID}" /></a>
         </li>
         <li class="removeIcon">
          <a href="#" onclick="return 0;" class="playerRemoveButton" playerid="{player.ID}" /></a>
         </li>
        </ul>
       </td>
       <td>??</td>
       <td>{player.ALIGNMENT}</td>
       <td>{player.FACTION}</td>
       <td>??</td>
       <td>{player.FIRST_ACTIVE_TIME}</td>
      </tr>
<!-- END player -->
     </tbody>
    </table>
    <span class="corners-bottom"><span></span></span>
   </div>
  </div> <!--- End gamePlayerContainer -->

  <!-- Player Edit Panel -->
  <div id="addPlayerContainer">

   <!-- Player Name -->
   <div class="label">Player Name:</div>
   <input type="text" id="addPlayerName" name="addPlayerName" class="addPlayerInput inputbox"/><br/>
   
   <!-- Slot Number -->
   <div class="label">Slot Number:</div>
   <input type="text" id="addPlayerSlotNumber" name="addPlayerSlotNumber" class="addPlayerInput inputbox"/><br/>

   <!-- Player Alignment -->
   <div class="label">Aligmnet:</div>
   <select name="addPlayerAlignment" name="addPlayerAlignment">
    <option value = "0" selected="selected">Town</option>
    <option value = "1">Mafia</option>
    <option value = "2">Third Party</option>
   </select><br/>

   <!-- Player Faction -->
   <div class="label">Faction:</div>
   <select name="addPlayerFaction" name="addPlayerFaction">
    <option value = "0" selected="selected">Innocent Characters</option>
    <option value = "1">Scum/option>
   </select><br/>

   <!-- Player Role -->
   <div class="label">Role:</div>
   <select name="addPlayerRole" name="addPlayerRole">
   </select><br/>

   <!-- Player First Post ID -->
   <div class="label">First Post ID:</div>
   <input type="text" id="addPlayerFirstPostId" name="addPlayerFirstPostId" class="addPlayerInput inputbox"/><br/>

   <!-- Player Last Post ID -->
   <div class="label">Last Post ID:</div>
   <input type="text" id="addPlayerLastPostId" name="addPlayerLastPostId" class="addPlayerInput inputbox"/><br/>

   <input type="hidden" name="addPlayerId" value="-1" />
   <input type="button" class="button2" name="addPlayerSaveButton" value="Save Changes" />
  </div>
  <!-- End Player Edit Panel -->

  <div style="clear: left;"></div>
 </div>
</div>
<div style="clear: left;"></div>

<!-- IF S_DISPLAY_POST_INFO -->
	<h3>{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->