<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
<script type="text/javascript">
$(document).ready(function() {
	$(".playerEdit").bind("click", function() {
		var slotId = $(this).attr("slotid");
		$('.slot'+slotId+'EditField').show();
	});

	$('.cancelPlayerEdit').bind("click", function() {
		$('.slotEditor').hide();
	});
	$("#addPlayerButton").bind("click", function() {
		$('#playerAdd').show();
	});

	$('.cancelPlayerAdd').bind("click", function() {
		$('#playerAdd').hide();
	});
	$(".modEdit").bind("click", function() {
		var modId = $(this).attr("userid");
		$('.mod'+modId+'typetext').hide();
		$('.mod'+modId+'TypeEditor').show();
	});

	$('.cancelModEdit').bind("click", function() {
		$('.typetext').show();
		$('.typeeditor').hide();
	});
});
</script>

	<h2>{GAME_NAME}</h2>
	<div id="gameContainer">
		<div class="leftColumn">
			<div class="leftslot">
			<h3>Details</h3>
   <div class="gameFieldNameLabel gameFieldNameDescription">Description:</div>
   <span id="gameInfoGameDescriptionField" class="gameFieldValue">{GAME_DESCRIPTION}</span><br/>
  
   <div class="gameFieldNameLabel">Type:</div>
   <span id="gameInfoGameTypeField" class="gameFieldValue">{GAME_TYPE}</span><br/>

  <div class="gameFieldNameLabel">Status:</div>
   <span id="gameInfoGameStatusField" class="gameFieldValue">{STATUS}</span><br/>

  <div class="gameFieldNameLabel">Players:</div>
   <span id="gameInfoGamePlayersField" class="gameFieldValue">{ENTERED_PLAYER_TOTAL}</span><br/>

  <div class="gameFieldNameLabel">Game Size:</div>
   <!-- IF EDIT --><input type="text" id="gameInfoGameSizeInputField" name="gameInfoGameSize" class="gameInfoLabel inputbox hidden" value="<!-- IF GAME_SIZE_EDITED -->{GAME_SIZE_EDITED}<!-- ELSE -->{MAXIMUM_PLAYER_TOTAL}<!-- ENDIF -->" <!-- IF ACCEPTED -->readonly="readonly"<!-- ENDIF -->/><!-- ENDIF -->
   <span id="gameInfoGameField" <!-- IF ACCEPTED -->class="gameFieldValue"<!-- ELSE -->class="gameFieldValueEditable"<!-- ENDIF -->>{MAXIMUM_PLAYER_TOTAL}</span><br/>

<div class="gameFieldNameLabel">Game Topic:</div>
  <!-- IF GAME_TOPIC --> <a href="{GAME_TOPIC}" id="gameInfoGameField" class="gameFieldValue">{GAME_NAME}</a><!-- ENDIF --><br/>

  <div class="gameFieldNameLabel">Created:</div>
   <span id="gameInfoGameCreatedField" class="gameFieldValue">{CREATION_TIME}</span><br/>

  <div class="gameFieldNameLabel">Started:</div>
   <!-- IF EDIT --><input type="text" id="gameInfoGameStartedInputField" name="gameInfoGameStarted" class="gameInfoLabel inputbox hidden" value="<!-- IF STARTED_TIME_EDITED -->{STARTED_TIME_EDITED}<!-- ELSE -->{STARTED_TIME}<!-- ENDIF -->" /><!-- ENDIF -->
   <span id="gameInfoGameStartedField" class="gameFieldValueEditable">{STARTED_TIME}</span><br/>

  <div class="gameFieldNameLabel">Completed:</div>
   <!-- IF EDIT --><input type="text" id="gameInfoGameCompletedInputField" name="gameInfoGameCompleted" class="gameInfoLabel inputbox hidden" value="<!-- IF COMPLETED_TIME_EDITED -->{COMPLETED_TIME_EDITED}<!-- ELSE -->{COMPLETED_TIME}<!-- ENDIF -->" /><!-- ENDIF -->
   <span id="gameInfoGameCompletedField" class="gameFieldValueEditable">{COMPLETED_TIME}</span><br/>
	
	<div class="error">{DETAIL_EDIT_ERROR}</div><br/>

  <!-- IF EDIT --><div class="gameInfoButtonRow" id="gameInfoButtonRow">
   <input type="button" class="button2" name="editGameInfoButton" id="editGameInfoButton" value="Edit Details" />
   <input type="submit" class="button2" name="saveGameInfoButton" id="saveGameInfoButton" value="Save Details" style="display: none;"/>
  </div><!-- ENDIF -->
  <!-- IF EDIT --></form><!-- ENDIF -->
  <a class="button2" href="{S_EDIT_DETAIL_ACTION}">Edit Details</a>
  <a class="button2" href="{S_ADD_PLAYER_ACTION}">Add Player</a>
			</div>
		</div>
		<div class="rightColumn">
			<fieldset class="display-actions">
				<!-- IF IS_ENTERED -->
					<!-- IF not IS_MODERATOR -->
					<a href="{S_OUT_ACTION}" class="button2">{L_OUT_GAME}</a>
					<!-- ENDIF -->
				<!-- ELSE -->
				<a href="{S_IN_ACTION}" class="button2">{L_IN_GAME}</a>
				<a href="{S_PREIN_ACTION}" class="button2">{L_PREIN_GAME}</a>
				<a href="{S_REPLACEIN_ACTION}" class="button2">{L_REPLACE_IN_GAME}</a>
				<!-- ENDIF -->
			</fieldset>
			<form action="{S_EDIT_PLAYER_ACTION}" method="post" id="editPlayers">
			<div class="forumbg forumbg-table">
				<div class="inner"><span class="corners-top"><span></span></span>
					<table class="table1" cellspacing="1" id="playerlist">
						<thead>
							<tr>
								<th>Player Name</th>
								<th>Player Role</th>
								<th>Player Status</th>
								<th>Player Faction</th>
								<th>Player Outcome</th>
								<!-- IF IS_MODERATOR --><th class="mark">Actions</th><!-- ENDIF -->
								<!-- IF IS_REPLACEMENT --><th>Replacement Status</th><!-- ENDIF -->
							</tr>
						</thead>
						<tbody>
						<!-- BEGIN players -->
							<!-- IF IS_MODERATOR -->
							<tr class="bg2">
								<td><!-- IF players.IS_ACCEPTED -->Slot #{players.SLOT_ID}: <!-- ENDIF -->{players.USER}</td>
								<td>{players.FULL_ROLE}</td>
								<td>{players.STATUS}</td>
								<td>{players.PRESENTED_FACTION} ({players.FACTION_NAME})</td>
								<td>{players.OUTCOME}</td>
								<td class="mark">
								<!-- IF players.IS_ACCEPTED -->
									<input type="checkbox" name="marked_slot_id[]" value="{players.SLOT_ID}" />
								<!-- ELSE -->
									<a href="{players.APPROVAL_LINK}" title="{L_EDIT_POST}"><span>[A]</span></a>
									<a href="{players.REJECT_LINK}" title="{L_EDIT_POST}"><span>[R]</span></a>
								<!-- ENDIF -->
								</td>
							</tr>
							<!-- ELSE -->
								<!-- IF players.IS_ACCEPTED -->
								<tr class="bg2">
									<td>Slot #{players.SLOT_ID}: {players.USER}</td>
									<td>{players.PRESENTED_ROLE}</td>
									<td>{players.STATUS}</td>
									<td>{players.PRESENTED_FACTION}</td>
									<td>{players.OUTCOME}</td>
								</tr>
								<!-- ENDIF -->
							<!-- ENDIF -->
						<!-- END players -->
						</tbody>
					</table>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			
			<!-- IF IS_MODERATOR -->
			<fieldset class="display-actions">
				<select name="mark_option"><option value="edit">Edit</option></select> <input class="button2" type="submit" name="submit_mark" value="{L_GO}" />
				<div><a href="#" onclick="marklist('playerlist', 'marked_slot', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('playerlist', 'marked_slot', false); return false;">{L_UNMARK_ALL}</a></div>
			</fieldset>
			<!-- ENDIF -->
			</form>
	
	
			<div class="forumbg forumbg-table">
				<div class="inner"><span class="corners-top"><span></span></span>
					<table class="table1" cellspacing="1" id="modlist">
						<thead>
							<tr>
								<th>Moderator Name</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
						<!-- BEGIN mods -->
						<tr class="bg2">
							<!-- IF IS_MODERATOR -->
							<td>{mods.MODERATOR}&nbsp;
							<a href="#" onclick="return false;" class="modEdit" userid="{mods.USER_ID}" />[E]</a>&nbsp;
							<a href="#" onclick="return false;" class="modDelete" userid="{mods.USER_ID}" />[D]</a>
							</td>
							<td>
								<span class="mod{mods.USER_ID}typetext typetext">{mods.MOD_TYPE}</span>
								<!-- Hidden Edit Field For Mod Type -->
								<span class="mod{mods.USER_ID}TypeEditor hidden typeeditor">
								<form method="post" action="queues.php?mode=edit&info=mod&g={GAME_ID}" class="modEditor">
								<select name="editMod">
								{mods.MOD_TYPE_OPTIONS}
								</select>
								<input type="hidden" name="mod_id" value="{mods.USER_ID}"/>
								<input type="submit" name="submitModEdit" value="[Save]" style="display:inline-block;background:none;border:none;"/>&nbsp;
								<input type="button" class="cancelModEdit" value="[Cancel]" style="display:inline-block;background:none;border:none;"/>
								</form>
								</span>
								<!-- End Mod Edit Field -->
							</td>

							<!-- ELSE -->
							<td>{mods.MODERATOR}</td>
							<td>{mods.MOD_TYPE}</td>
							<!-- ENDIF -->
						</tr>
						<!-- END mods -->
						</tbody>
					</table>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<!-- IF IS_MODERATOR -->
			<form action="{S_ADD_MOD_ACTION}" method="post" id="modAdd">
			<fieldset class="display-actions">
				<label for="mod_name">Name:&nbsp;</label><input type="text" class="inputbox autowidth" name="mod_name" id="mod_name" value="{USERNAMES}" />&nbsp;<label for="mod_type">Type:&nbsp;</label><select name="mod_type">{MOD_TYPE_OPTIONS}</select> <input class="button2" type="submit" name="submitModAdd" value="{L_SUBMIT}" />
				<div><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></div>
			</fieldset>
			</form>
			<!-- ENDIF -->
			
		</div>
	</div>
<!-- INCLUDE overall_footer.html -->