<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

	<h2>{GAME_NAME}</h2>
	<div id="gameContainer">
		<form action="{S_SUBMIT_EDIT_ACTION}" method="post">
		<div class="panel">
			<div class="inner">
				<span class="corners-top"><span></span></span>
				<h3>Editing {GAME_NAME} Details</h3>
				<fieldset>
				<!-- Game Name -->
				<dl>
				<dt><label for="gameName">Game Name:</label></dt>
					<dd>
						<input type="text" name="gameName" value="{GAME_NAME}" class="inputbox" />
					</dd>
				</dl>
				
				<!-- Game Description -->
				<dl>
				<dt><label for="gameDescription">Game Description:</label></dt>
					<dd>
						<input type="text" name="gameDescription" value="{GAME_DESCRIPTION}" class="inputbox" />
					</dd>
				</dl>
				<!-- IF not IS_APPROVED -->
				<dl>
				<dt><label for="gameMaximum">Number of Players:</label></dt>
					<dd>
						<input type="text" name="gameMaximum" value="{GAME_DESCRIPTION}" class="inputbox" maxlength="3" />
					</dd>
				</dl>
				<!-- ENDIF -->
				
				<!-- IF IS_ONGOING -->
				<!-- Game Status -->
				<dl>
				<dt><label for="gameStatus">Game Status:</label></dt>
					<dd>
						<select name="gameStatus">
						{S_STATUS_OPTIONS}
						</select>
					</dd>
				</dl>
				<!-- ENDIF -->
				</fieldset>
				<input type="hidden" value="{players.SLOT_ID}" name="slot_id[]" />
				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
		
		<fieldset class="submit-buttons">
			<input type="submit" name="submitDetailEdit" value="Save Changes" class="button1" />&nbsp; 
			<input type="button" value="{L_CANCEL}" name="cancel" class="button2" />
		</fieldset>
		</form>
	</div>
<!-- INCLUDE overall_footer.html -->