<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
	<h2>{GAME_NAME}</h2>
	<div id="gameContainer">
		<div class="leftColumn">
			<div class="leftslot">
			<h3>Details</h3>
			<div class="infoField"><span class="gameField">ID:</span><span class="gameValue">{GAME_ID}</span></div>
			<div class="infoField"><span class="gameField">Type:</span><span class="gameValue">{GAME_TYPE}</span></div>
			<div class="infoField"><span class="gameField">Status:</span><span class="gameValue">{STATUS}</span></div>
			</div>
			<div class="leftslot">
			<h3>Moderators</h3>
			<!-- BEGIN moderators -->
			<strong>{moderators.MOD_USER_URL} ({moderators.MOD_TYPE})</strong><br />
			<!-- END moderators -->
			</div>
		</div>
		<div class="rightColumn">
	<div class="forumbg forumbg-table">
		<div class="inner"><span class="corners-top"><span></span></span>
			<table class="table1" cellspacing="1" id="playerlist">
				<thead>
					<tr>
						<th>Player name</th>
						<th>Player Role</th>
						<th>Player Status</th>
						<th>Player Faction</th>
						<th>Player Outcome</th>
						<!-- IF IS_REPLACEMENT --><th>Replacement Status</th><!-- ENDIF -->
					</tr>
				</thead>
				<tbody>
				<!-- BEGIN players -->
				<tr class="<!-- IF players.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<!-- IF IS_MODERATOR -->
					<td>{players.USER}</td>
					<td>{players.PRESENTED_ROLE} ({players.ROLE_NAME})</td>
					<td>{players.STATUS}</td>
					<td>{players.PRESENTED_FACTION} ({players.FACTION_NAME})</td>
					<td>{players.OUTCOME}</td>
					<!-- ELSE -->
					<td>{players.USER}</td>
					<td>{players.PRESENTED_ROLE}</td>
					<td>{players.STATUS}</td>
					<td>{players.PRESENTED_FACTION}</td>
					<td>{players.OUTCOME}</td>
					<!-- ENDIF -->
				</tr>
				<!-- END players -->
				</tbody>
			</table>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	</div>
<!-- INCLUDE overall_footer.html -->