<!-- INCLUDE overall_header.html -->


<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>Moderation Panel</h2>
	<p>Games you can moderate.</p>
	
	<table>
	<!-- BEGIN games -->
	<tr>
	<td>Game Name: {games.GAME_NAME}</td>
	<td>Game Type: {games.GAME_TYPE}</td>
	<td>Requested Slots: {games.REQUESTED_SLOTS}</td>
	<td>Main Moderator: {games.MAIN_MOD}</td>
	</tr>
	<!-- END games -->
	</table>
	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- INCLUDE overall_footer.html -->