<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>
			<dl>
			<dd>
				<label for="replace_day">{L_DAY}: <select name="replace_day" id="replace_day" style="width: 4em;">{S_REPLACE_DAY_OPTIONS}</select></label> 
				<label for="replace_month">{L_MONTH}: <select name="replace_month" id="replace_month" style="width: 8em;">{S_REPLACE_MONTH_OPTIONS}</select></label> 
				<label for="replace_year">{L_YEAR}: <select name="replace_year" id="replace_year" style="width: 6em;">{S_REPLACE_YEAR_OPTIONS}</select></label>
			</dd>
		</dl>
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="confirm" value="{L_YES}" class="button2" />&nbsp; 
		<input type="submit" name="cancel" value="{L_NO}" class="button2" />
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->