<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
<script type="text/javascript">
// <![CDATA[
function insert_mod(user)
{
	document.forms['ucp'].main_moderator.value = user;
	self.close();
}
// ]]>
</script>
<h2>{L_SUBMIT_GAME}</h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_ADD_GAME_EXPLAIN}</p>
	
	<fieldset class="fields2">
	
	<dl>
		<dt><label for="game_name">{L_GAME_NAME}*:</label><br /><span>{L_GAME_NAME_EXPLAIN}</span></dt>
		<dd><input name="game_name" id="game_name" type="text" class="inputbox autowidth" maxlength="120" size="40"/></dd>
	</dl>
	<dl>
	<dl>
		<dt><label for="main_moderator">{L_MODERATOR}*:</label><br /><span>{L_MODERATOR_EXPLAIN}</span></dt>
		<dd><input name="main_moderator" id="main_moderator" type="text" class="inputbox autowidth" maxlength="60" value="{USERNAMES}" size="35"/></dd>
		<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong>&nbsp;or&nbsp;<strong><a href="#" onclick="insert_mod('{U_USERNAME}'); return false;">{L_MOD_THIS_ACCOUNT}</a></strong></dd>
	</dl>
	<dl>
		<dt><label for="game_type">{L_GAME_TYPE}*:</label><br /><span>{L_GAME_FORUM_EXPLAIN}</span></dt>
		<dd>
			<select name="game_type">
				{GAME_TYPE_SELECT}
			</select>
		</dd>
	</dl>
	<dl>
		<dt><label for="requested_slots">{L_REQUESTED_SLOTS}*:</label><br /><span>{L_REQUESTED_SLOTS_EXPLAIN}</span></dt>
		<dd><input name="requested_slots" id="requested_slots" type="text" class="inputbox autowidth" maxlength="60" value="" size="5"/></dd>
	</dl>
		<p>{L_LATER_DETAILS_EXPLAIN}</p>
		
	<dl>
		<dt><label for="game_description">{L_GAME_DESCRIPTION}:</label><br /><span>{L_GAME_DESCRIPTION_EXPLAIN}</span></dt>
		<dd><textarea name="game_description" id="game_description" rows="3" cols="30" class="inputbox"></textarea></dd>
	</dl>
	
	</fieldset>
	
	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit_queue" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>
<!-- INCLUDE overall_footer.html -->