<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

	<h2>{GAME_NAME}</h2>
	<div id="gameContainer">
		<form action="{S_SUBMIT_ADD_ACTION}" method="post" id="add">
		<div class="panel">
			<div class="inner">
				<span class="corners-top"><span></span></span>
				<h3>Add an Approved Player</h3>
				<fieldset>
				<dl>
				<dt><label for="addName">User:</label></dt>
					<dd><input type="text" class="inputbox autowidth" name="addName" id="addName" value="{USERNAMES}" />
						<div><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></div>
					</dd>
				</dl>
				<dl>
				<dt><label>Role:</label></dt>
					<dd>
						<label for="addFlavour">Flavour Name:</label>
					</dd>
					<dd>
						<input name="addFlavour" type="text" class="inputbox" maxlength="20" value="" size="20"/>
					</dd>
					<dd>
						<label for="addRole">Basic Role:</label>
					</dd>
					<dd>
						<select name="addRole">
						{ROLE_OPTIONS}
						</select>
					</dd>
					<dd>
						<label for="addModifiers[]">Modifiers:</label>
					</dd>
					<dd>
						<select name="addModifiers[]" multiple="multiple">
						{MODIFIER_OPTIONS}
						</select>
					</dd>
				</dl>
				<dl>
				<dt><label for="addStatus">Slot Status:</label></dt>
					<dd>
						<select name="addStatus">
						{STATUS_OPTIONS}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label for="addOutcome">Slot Outcome:</label></dt>
					<dd>
						<select name="addOutcome">
						{OUTCOME_OPTIONS}
						</select>
					</dd>
				</dl>
				</fieldset>
				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
		
		<fieldset class="submit-buttons">
			<input type="submit" name="submitPlayerAdd" value="Add Player" class="button1" />&nbsp; 
			<input type="button" value="{L_CANCEL}" name="cancel" class="button2" />
		</fieldset>
		</form>
	</div>
<!-- INCLUDE overall_footer.html -->