<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

<style type="text/css">
</style>

<script type="text/javascript">
$(document).ready(function() {

	$(".moderatorEditButton").bind("click", function() {
		var moderatorId = $(this).attr("moderatorid");
		$('.moderatorEditPanel').hide();
		$('#ModeratorEditor' + moderatorId).show();
		$('#ModeratorEditor').hide();
	});
	$(".moderatorRemoveButton").bind("click", function() {
		var moderatorId = $(this).attr("moderatorid");
		$('#moderatorDelete').prop('value', moderateId);
		$('#ModeratorDeleteForm').sumbit();
		
	});
	
	$('.cancelModeratorEditSaveButton').bind("click", function() {
		$('.moderatorEditPanel').hide();
		$('#ModeratorEditor').show();
	});
	$(".playerEditButton").bind("click", function() {
		var playerId = $(this).attr("playerid");
		$('.playerEditPanel').hide();
		$('#playerEditor' + playerId).show();
		$('#playerEditor').hide();
	});

	$('.cancelPlayerEditSaveButton').bind("click", function() {
		$('.playerEditPanel').hide();
		$('#playerEditor').show();
	});

	$(".addFactionButton").bind("click", function() {
		$("#addFactionPane").show();
		$("#newFactionName").focus();
		$('.playerEditPanel').hide();
	});
	$("#addFactionCancel").bind("click", function(){
		$("#addFactionPane").hide();
		$("#newFactionName").val("");
		$("#newFactionAlignment").val(0);
		$("#addPlayerContainer").show();
	});
});
</script>



<h2>{GAME_NAME}</h2>
<h3></h3>
<!-- IF DELETE_MOD -->
<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>
		<form id='PlayerEditor' method="post" action={U_EDITFORM}>
		<p> Are you sure you want to remove {DELETE_MOD_USER_NAME} as a mod? </p>
		<input type="hidden" name="mod_id" value={DELETE_MOD}>
		<input type="submit" class="button2" name="confirmDeleteMod" value="Confirm" />
		<input type="submit" class="button2" name="cancelDeleteMod" value="Cancel" />
		</form>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSE -->
<div id="gameInfoMaster">
<div id="gameModeratorTableContainer" class="forumbg forumbg-table">
   <div class="inner">
    <span class="corners-top">
     <span></span>
    </span>
    <table class="table1" cellpadding="10" cellspacing="1" id="gameModeratorTable">
     <thead>
      <tr>
       <th class="gameListHeaderCell">Moderator Name</th>
       <th class="gameListHeaderCell">Type</th>
      </tr>
     </thead>
     <tbody>
<!-- BEGIN mods -->
      <tr class="bg1">
       <td class="username">
		<span class="in-table-username">
        {mods.MODERATOR}
		</span>
        <ul class="profile-icons in-table-icons">
        <!-- IF EDIT --><li class="gameicon edit-icon">
          <a href="#" onclick="return false;" class="moderatorEditButton" moderatorid="{mods.USER_ID}" /></a>
         </li>
         <li class="gameicon delete-icon">
          <a href="{mods.U_REMOVE_MOD}" class="moderatorRemoveButton" moderatorid="{mods.USER_ID}" /></a>
         </li><!-- ENDIF -->
        </ul>
       </td>
       <td class="">{mods.MOD_TYPE}</td>
      </tr>
<!-- END mods -->
     </tbody>
    </table>
    <span class="corners-bottom"><span></span></span>
   </div> <!--- End gameModeratorTableContainer -->
  </div>
<!-- Moderator Edit Panel -->
  <!-- IF EDIT --> <div id="addModeratorContainer">
  <form id='ModeratorEditor' method="post" action={U_EDITFORM} onsubmit="">
   <div>
   <div class="error">{MOD_ADD_ERROR}</div><br/>
   <div class="label">Moderator Name:</div>
   <input type="text" id="addModeratorName" name="addModeratorName" class="addModeratorInput inputbox"/><br/>
   <div id='findusernamediv'>[<a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>]</div><br/>
   <div class="label">Type:</div>
   <select name="addModeratorType">
    <option value = "0" selected="selected">Primary</option>
    <option value = "1">Co-Mod</option>
	<option value = "2">Backup</option>
   </select><br/>
   <input type="hidden" name="addModeratorId" value="-1" />
	</div>
   <input type="submit" class="button2" id="addModeratorSaveButton" name="addModeratorSaveButton" value="Add Mod" />
   </form>
<!-- BEGIN mods -->
<form id='ModeratorEditor{mods.USER_ID}' method="post" action={U_EDITFORM} class="moderatorEditPanel" style='display: none'>
	<div id='editModeratorPanel{mods.USER_ID}'>
		<br/>
		<div class="label">Moderator Name:</div>
		<span id="gameInfoGameNameField" class="modFieldValue">{mods.MODERATOR}</span><br/>
		   <div class="label">Type:</div>
		   <select name="editModeratorType" <!-- IF mods.MOD_TYPE eq 'Main Moderator' --> disabled="disabled" <!-- ENDIF --> >
		   {mods.MOD_TYPE_OPTIONS}
		   </select>
	</div>
	<input type ="hidden" name="moderatorID" value="{mods.USER_ID}"/>
	<input type="button" class="button2 cancelModeratorEditSaveButton" value="Cancel" />
    <input type="submit" class="button2" name="editModeratorSaveButton" value="Save Changes" />
</form>
<!-- END mods -->
  </div>
  <!-- ENDIF -->
 <div class='panel'>
 <div id="gameInfoLeft">
  <div id='gameInfotLeft_inner'>
   <div class="gameFieldNameLabel">Name:</div>
   <span id="gameInfoGameNameField" <!-- IF IS_APPROVED -->class="gameFieldValue"<!-- ELSE -->class="gameFieldValueEditable"<!-- ENDIF -->>{GAME_NAME}</span><br/>
  
   <div class="gameFieldNameLabel">Creator:</div>
   <span id="gameInfoGameNameField" <!-- IF IS_APPROVED -->class="gameFieldValue"<!-- ELSE -->class="gameFieldValueEditable"<!-- ENDIF -->>{CREATOR_NAME}</span><br/>
   
   <div class="gameFieldNameLabel">Type:</div>
   <span id="gameInfoGameTypeField" <!-- IF IS_APPROVED -->class="gameFieldValue"<!-- ELSE -->class="gameFieldValueEditable"<!-- ENDIF -->>{GAME_TYPE}</span><br/>

  <div class="gameFieldNameLabel">Status:</div>
   <span id="gameInfoGameStatusField" <!-- IF STATUS_SELECT --> class="gameFieldValueEditable" <!-- ELSE --> class="gameFieldValue" <!-- ENDIF -->>{STATUS}</span><br/>

  <div class="gameFieldNameLabel">Players:</div>
   <span id="gameInfoGamePlayersField" class="gameFieldValue">{ENTERED_PLAYER_TOTAL}</span><br/>

  <div class="gameFieldNameLabel">Game Size:</div>
   <span id="gameInfoGameField" <!-- IF IS_APPROVED -->class="gameFieldValue"<!-- ELSE -->class="gameFieldValueEditable"<!-- ENDIF -->>{MAXIMUM_PLAYER_TOTAL}</span><br/>

<div class="gameFieldNameLabel">Game Topic:</div>
  <!-- IF GAME_TOPIC --> <a href="{GAME_TOPIC}" id="gameInfoGameField" class="gameFieldValue">{GAME_NAME}</a><!-- ENDIF --><br/>

  <div class="gameFieldNameLabel">Created:</div>
   <span id="gameInfoGameCreatedField" class="gameFieldValue">{CREATION_TIME}</span><br/>

  <div class="gameFieldNameLabel">Started:</div>
   <span id="gameInfoGameStartedField" class="gameFieldValueEditable">{STARTED_TIME}</span><br/>

  <div class="gameFieldNameLabel">Completed:</div>
   <span id="gameInfoGameCompletedField" class="gameFieldValueEditable">{COMPLETED_TIME}</span><br/>
	
	<div class="error">{DETAIL_EDIT_ERROR}</div><br/>

  <!-- IF EDIT --><div class="gameInfoButtonRow" id="gameInfoButtonRow">
   <a href='{EDIT_DETAILS_ACTION}'><input type="button" class="button2" name="editGameInfoButton" id="editGameInfoButton" value="Edit Details" /></a>
  </div><!-- ENDIF -->
 </div>
</div>
 <div id="gameInfoRight">
	<div id="detailed_description">
		<div id="detailed_description_inner" class='postbody' style='margin: 0px'>
			   <p id="gameInfoGameDescriptionField" class="gameFieldValueEditable">{GAME_DESCRIPTION}</p>
		</div>
	</div>
	
 </div>
 <div style="clear: left;"></div>
   <!-- IF not IS_APPROVED -->
	 <!-- IF CAN_APPROVE -->
		 <a class="create-game" href='{S_APPROVE_ACTION}'>Approve Game</a>
		 <a class="create-game" href='{S_DISAPPROVE_ACTION}'>Disapprove Game</a>
	 <!-- ENDIF -->
 <!-- ENDIF -->

 <!-- IF IS_APPROVED -->
	<!-- IF IN_GAME -->
		<!-- IF not IS_MODERATOR -->
			<a class="create-game" href='{S_OUT_ACTION}'>Leave Game</a>
		<!-- ENDIF -->
	<!-- ELSE -->
		<!-- IF STATUS_ID eq 2 -->
		<a class="create-game" href='{S_PREIN_ACTION}'>Join Game</a>
		<!-- ENDIF -->
		<!-- IF STATUS_ID eq 3 -->
		<a class="create-game" href='{S_IN_ACTION}'>Join Game</a>
		<!-- ENDIF -->
		<!-- IF STATUS_ID gt 3 and STATUS_ID ne 5 and STATUS_ID ne 46 -->
			<a class="create-game" href='{S_REPLACE_ACTION}'>Replace In</a>
		<!-- ENDIF -->
	<!-- ENDIF -->
 <!-- ENDIF -->
 </div>
  <div id="gamePlayerTableContainer" class="forumbg forumbg-table">
   <div class="inner">
    <span class="corners-top">
     <span></span>
    </span>
    <table class="table1" cellspacing="1" id="gamePlayerTable">
     <thead>
      <tr>
	   <th class="gameListHeaderCell">Player Name</th>
       <th class="gameListHeaderCell">Slot #</th>
       <th class="gameListHeaderCell">Faction</th>
       <th class="gameListHeaderCell">Role</th>
       <th class="gameListHeaderCell">Status</th>
      </tr>
     </thead>
     <tbody>
<!-- BEGIN players -->
      <tr class="bg1">
       <td class="username">
	   <span class="in-table-username">
        {players.USER}
		</span>
        <ul class="profile-icons in-table-icons">
         <!-- IF EDIT -->
			 <!-- IF not players.IS_REJECTED -->
				 <!-- IF not players.IS_ACCEPTED -->
				  <a class="create-game" href='{players.APPROVAL_LINK}'>Approve Player</a>
				  <a class="create-game" href='{players.REJECT_LINK}'>Reject Player</a>
				 <!-- ELSE -->
				 <li class="gameicon edit-icon">
				  <a href="#" onclick="return false;" class="playerEditButton" playerid="{players.USER_ID}" /></a>
				 </li>
				 <li class="gameicon delete-icon">
				  <a href="{players.REMOVE_LINK}" class="playerRemoveButton" /></a>
				 </li><!-- ENDIF -->
			<!-- ELSE -->
				<a class="create-game" href='{players.APPROVAL_LINK}'>Approve Player</a>
			<!-- ENDIF -->
		 <!-- ENDIF -->
        </ul>
       </td>
       <td>{players.SLOT_ID}</td>
       <td>{players.FACTION_NAME}</td>
       <td>{players.FULL_ROLE}</td>
       <td><!-- IF not players.IS_REJECTED -->{players.STATUS}<!-- ELSE --><span> Player Rejected </span> <!-- ENDIF --></td>
      </tr>
<!-- END players -->
     </tbody>
    </table>
    <span class="corners-bottom"><span></span></span>
   </div>
  </div> <!--- End gamePlayerContainer -->

  <!-- IF EDIT --><!-- Player Edit Panel -->
  <div id="addPlayerContainer">
  </div>
  <!-- End Player Edit Panel -->
  <!-- Edit Player Panels -->
		  <!-- BEGIN players -->
			<form id='playerEditor{players.USER_ID}' method="post" action={U_EDITFORM} class="playerEditPanel" style='display:none'>
				<div id='editPlayerPanel{players.USER_ID}'>
					<strong><span style='color:red'>Entered details are immediately visible to everyone. Only use for public information like flipped roles.</span></strong>
				 <!-- Player Name -->
				  <div class="error">{PLAYER_EDIT_ERROR}</div><br/>
				   <div class="label">Player Name:</div>
				   <span class="playerFieldValue">{players.USER}</span><br/>
				   <!-- Slot Number -->
				   <div class="label">Slot Number:</div>
				   <span class="playerFieldValue">{players.SLOT_ID}</span><br/>
				   <!-- Player Faction -->
				   <div id="factionPane">
				   <div class="label">Faction:</div>
				   {players.FACTION_SELECT}
				   <input type="button" class="button2 addFactionButton" value="+" />
				   </div>
				   <!-- Player Role -->
					<div class="label">Role Name:</div>
					<input type="text" id="addRoleFlavour" name="editRoleFlavourName" class="addPlayerInput inputbox" value="{players.ROLE_NAME}"/><br/>
					<div class="label">Role:</div>
					{players.BASICROLES_SELECT}
					<br/>
					<div class="label">Role Modifier:</div>
					{players.MODIFIER_SELECT}
				   <br/>
				   <div class="label">Status:</div>
				   {players.PLAYER_STATUS_SELECT}
				   <br/>
				<input type ="hidden" name="playerID" value="{players.USER_ID}"/>
				<input type="button" class="button2 cancelPlayerEditSaveButton" value="Cancel" />
				<input type="submit" class="button2" name="editPlayerSaveButton" value="Save Changes" />
				</div>
			</form>
		<!-- END players -->
  <!-- End Edit Player Panels -->
  <!-- Add Faction -->
  <div id="addFactionPane" style='display:none'>
   <form id='factionEditor' method="post" action={U_EDITFORM} onsubmit="">
	<div class="label">Create New Faction:</div>
	<br/>
	<div id="internalAddFactionPane">
    <div class="label">New Faction Name:</div>
	<input id="newFactionName" name="factionNameInput" type="text" class="addPlayerInput"/>
	<br/>
	<div class="label">New Faction Alignment:</div>
	<select id="newFactionAlignment" name="factionAlignmentInput">
    <option value = "0" selected="selected">Town</option>
    <option value = "1">Mafia</option>
    <option value = "2">Third Party</option>
   </select><br/>
	<input id="addFactionSubmit" name="addFactionSubmit" type="submit" class="button2" value="Add Faction" />
	<input id="addFactionCancel" type="button" class="button2" value="Cancel" />
   </div>
   </form>
   </div>
<!-- End Add Faction -->
<!-- ENDIF -->
</div>
<div style="clear: left;"></div>
<!-- ENDIF -->
<!-- IF S_DISPLAY_POST_INFO -->
	<h3>{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->