* {
	border:0;
	margin:0;
	padding:0;
}
body {
	background:#000;
	margin-top:-43px;
}
a {
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
a.nav{
	color:#FFFFFF;
	font-size:120%;
	font-weight:bold;
	margin: 10px;
}
div#nav_container{
	margin-top:15px;
	color:#ED1C24;
	font-size:120%;
	line-height: 150%;
	font-weight:bold;
	text-align: center;
}
div#howto{
	margin-top:45px;
}

p {
}
#bg {
	background:url('bg.jpg') left top no-repeat;
	height:862px;
	padding-top:323px;
	margin:0 auto;
	width:900px;
}
#title {
	background:url('title.png') left no-repeat;
	display:block;
	height:175px;
	margin:0 auto;
	overflow:hidden;
	padding-right:10px;
	text-indent:-9999px;
	width:600px;
}
#content {
	color:#bbb;
	font:normal 12px arial, helvetica, sans-serif;
	line-height:140%;
	margin:20px auto;
	padding-right:13px;
	text-align:justify;
	text-shadow:1px 1px 2px #000, 1px 1px 2px #000;
	width:585px;
}
.welcome {
	color:#fff;
	font-size:130%;
	font-weight:bold;
	letter-spacing:1px;
	margin-right:3px;
}
ul {
	list-style-type:none;
}
li {
	font-size:120%;
	line-height:150%;
	margin-left:10px;
}
li:before {
	color:#555;
	content: "\00BB \0020";
	font-size:120%;
}
li a {
	font-size:110%;
	letter-spacing:1px;
}