#top-right-nav {float: right;}
#top-left-nav {float: left;}
.profileavatar{margin-left:auto; margin-right:auto; width:100px;}
.submit_preview{margin-left:auto; margin-right:auto; width:226px;}
.quick_reply{margin-left:auto; margin-right:auto;width:138px; padding:10px 0px 0px 0px;}
.ui-content .ui-listview{margin:0px 0px;}
.ui-link-inherit{font-size: 1.2em;}
.ui-content {padding:15px 0px;}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {min-height: 0px; padding-left: 50px;}
#title_scum {color:red;}
.ui-li-thumb {margin:10px;}
.page{min-width: 320px;}
.clear{clear:both;}
.copyright{clear:both; font-size: 10px; padding: 5px; text-align: center; color: #555; margin: 0;}
.page-sep{display:none;}
.pagination{float:right;}
#forum_title_frame{margin:10px;}
#forum_title{color:#105289; text-decoration:none;}
h2 {color:#105289;}
#jumpbox{ margin:10px;}
.avatar img{float:left; max-height:39px; max-width:39px; margin-right:5px;}
.top_of_post{padding:5px;}
.post_top_left{margin:9px 0px;}
.postcontent{padding:20px; border-width:1px 0px; border-style:solid; border-color:#DDDDDD;}
.panel{padding:10px; margin:5px 10px; border-radius:7px; background-color: #ECF1F3;}
.bg2 {background-color: #D6E7F7;}
.bg1 {background-color: #E6F4FF;}
.bg3 {background-color: #DCF2FF;}
.post{padding:0px 10px 10px 10px; margin:5px 10px; border-radius:7px; text-shadow:none;}
.profile-icons {float:right;}
.quickmod_form{margin:10px;}
.buttonpanel{padding:0px 10px; margin:5px 10px; border-radius:7px; background-color: #DCF2FF;}
.content{padding:20px;}
.postcontent img {max-width:100%;}
.ui-body-c {background: none;}
.panel textarea {background-color: #f6f8f9;}
.inputbox {background-color: #f6f8f9;}
label{font-weight:bold;}
.ui-controlgroup, fieldset.ui-controlgroup{margin:0.5em 0 0.5em;}
.profileavatarcontainer{width: 25%; float:left;}
.profileinfo{width: 75%; float:right;}
.ui-content .ui-listview-inset {margin: 1em 0;}
.ui-listview-filter-inset {margin: 0px -5px -15px -5px;}
.custom_buttons{float:left;}
.right{float:right;}
.markbuttons{margin: 1em 0;}
.markbuttons .ui-radio{margin: 4px 0px 10px;}
.markbuttons .ui-checkbox{margin: 0px;}
.markbuttons fieldset.ui-controlgroup{margin:5px 0px 10px;}
#subscription{float:right;}
hr {color:rgba(130,130,130,.3);}
.eighttworatio .ui-block-a{display: block; width:80%; clear:none;}
.eighttworatio .ui-block-b{width:55px; float:left;}
.sixtwotworatio .ui-block-a{min-width:60%;}
.sixtwotworatio .ui-block-b{max-width:20%;}
.sixtwotworatio .ui-block-c{max-width:20%;}
@media all and (max-width: 479px) {
	#subscription{display:none;}
	.post_date{display:none;}
}
#pmControls{float:right;}
.bg5{background-color:white; }