<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%30t] %-5level %logger{1}:%L - %msg%n"/>
    </Console>
    <!--
    <File name="LagMonitorFile" fileName="lag.out" append="true">
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
    -->
  </appenders>
  <loggers>
    <root level="debug">
      <appender-ref ref="Console"/>
    </root>
    <!--
    <logger name="LagMonitor" level="debug" additivity="false">
      <appender-ref ref="LagMonitorFile"/>
    </logger>
    -->
  </loggers>
</configuration>