#gameInfoMaster {

	font-size: 13px;
	margin-bottom: 30px;
}

div.gameFieldNameLabel {

	width: 150px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}

#gameInfoLeft {

	float: left;
}

#gameInfoRight {

	float: left;
	margin-left: 50px;
}

#gameInfoModeratorTable {

	width: 300px;
	border: 1px solid #000000;
	border-bottom: none;
	float: left;
	background-image: url("./styles/mafsepia/theme/images/bg_header.png");
}

.gameInfoModeratorRow {

	width: 300px;
	float: left;
	border-bottom: 1px solid #000000;
}

.gameInfoModeratorUsername {
	width: 200px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoModeratorType {
	width: 99px;
	float: left;
	text-align: center;
}

.gameInfoModeratorHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}

#gameInfoPlayerTable {

	width: 825px;
	border: 1px solid #000000;
	border-bottom: none;
	float: left;
	clear: left;
	margin-top: 15px;
	background-image: url("./styles/mafsepia/theme/images/bg_header.png");
}

.gameInfoPlayerRow {

	width: 825px;
	float: left;
	border-bottom: 1px solid #000000;
}

.gameInfoPlayerUsername {
	width: 200px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerSlotNumber {
	width: 99px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerAlignment {

	width: 99px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerFaction {

	width: 149px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerRole {

	width: 124px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerStartDate {
	width: 149px;
	float: left;
	text-align: center;
}

.gameInfoPlayerHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}
.gamePanel{
	padding: 5px 10px;
	margin-bottom: 35px;
}

a.signature_hideshow {
	text-decoration:none;
	color: #ac9b84;
	font-size:.85em;
	line-height: 100%;
}
a.signature_hideshow:hover{
	
	text-decoration:none;
	color: #DF1B1B;
	font-size:.85em;
	line-height: 100%;
}
.postbody .noboldsig{font-weight:bold;}
.signature .noboldsig{font-weight:normal;}
.signature .nocolorsig{color:#333333;}

/* Unread PM Indicator */
.unread_flag{
display:inline-block;
width:5px;
height:5px;
position:relative;
bottom:-.5em;
border-radius:5px;
margin-right:3px;
background-color:#d90000;
}
/* Read PM Indicator */
.read_flag{
display:inline-block;
width:5px;
height:5px;
position:relative;
bottom:-.5em;
border-radius:5px;
margin-right:3px;
background-color:#0000FF;
}
/*Unread Indicator Legend*/
.indi-legend{
margin-bottom:6px;
}

.navlinks-footer{
	clear: both;
	display: block;
}

/*private topics*/
.private-user-select-group {
    margin: 5px 0 5px 0;
}
#private_users_list li {
	list-style-type: none;
}
#private_users_list li a{
	display: inline-block;
}
#private_mods_list li {
	list-style-type: none;
}
#private_mods_list li a{
	display: inline-block;
}
#site-description p, #site-description h1 {
	display:none;
}
#private_users_input {
	cursor: text;
}
#private_mods_input {
	cursor: text;
}
.repeatable-remove{
	cursor: pointer;
}
.private {
	background: #000000;
}
.private a {
	color: white;
}
.private {
	color: black;
	text-shadow: none;
}
.private .content, .private .postprofile, .private .postprofile strong,.private .author {
	color: black;
}
.private .post , .private .postbody{
	color: black;
	text-shadow: none;
}
.private .back2top {
	border-color: black;
}
.private .postprofilecontainer {
	border-color: black;
}
.private .bg1 {
	background: #606098;
}
.private .headerbar {
	background-image: none;
	background-color: #70709f;
}
.private .bg2 {
	background: #70709f;
}
.private .panel, .private .navbar{
	background: #2f2f64;
}
.private .corners-top, .private .corners-bottom {
 background-image: none;
}


/*bbcode*/

.bbtableheader{
	border:1px solid black; 
	padding:3px; 
	background-color: #DDDDDD;
}
.bbvote{
font-weight: bold; 
background:#FFFFFF;
padding: 0px 2px;
}

/* following */
.group_tab{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	color: white;
	background-color: #bb9f76;
	cursor: pointer;
	min-width: 130px;
}
.group_add{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	color: white;
	background-color: #543100;
	cursor: pointer;
}
#following_widget{
	padding: 10px;
}
#following_groups .topiclist .header{
	background-color: #543100;
}
#following_groups .topiclist .header .lastpost{
	padding-left: 5px;
}
.follow_form_element{
	cursor: text;
}
.active_follow_tab{
	background-color: #543100;
}
#following_widget fieldset {
	border-width: 1px;
	border-color: #999999;
	border-style: solid;
	padding: 5px;
}
#following_widget dd.email_follow {
	padding-left: 5px;
	width: 50px;
}
.follow_unread_indicator {
	min-width: 20px;
	margin-right: 10px;
	float: right;
	display: inline-block;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}
.processing{
	cursor: progress;
}
.hidden{
	display: none;
}