/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #EEEEEE;
	background-color: #000000;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
}

h3 {
	border-bottom-color: #FFFFFF;
	color: #FFFFFF;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #000000;
}

hr.dashed {
	border-top-color: #000000;
}

/* Search box
--------------------------------------------- */

#search-box {
	color: #FFFFFF;
}

#search-box #keywords {
	background-color: #FFFFFF;
}

#search-box input {
	border-color: #BBBBBB;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	background-color: #333333;
	background-image: url("{T_THEME_PATH}/images/bg_header.gif");
	color: #EFEDE8;
}

.navbar {
	background-color: #333333;
}

.forabg {
	background-color: #222222;
	background-image: url("{T_THEME_PATH}/images/bg_list.gif");
}

.forumbg {
	background-color: #333333;
	background-image: url("{T_THEME_PATH}/images/bg_header.gif");
}

.panel {
	background-color: #333333;
	color: #333333;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1	{ background-color: #575757; }
.bg2	{ background-color: #434343;  }
.bg3	{ background-color: #333333; }

.ucprowbg {
	background-color: #E0D3BE;
}

.fieldsbg {
	background-color: #FFFFFF;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #EFEDE8;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #EFEDE8;
}

table.table1 tbody tr {
	border-color: #C9BAA9;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #EDE7DA;
	color: #000000;
}

table.table1 td {
	color: #FFFFFF;
}

table.table1 tbody td {
	border-top-color: #C9BAA9;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #330C0C;
	background-color: #EFEDE8;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #FFFFFF;
}

.sep {
	color: #895C35;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #888888;
	border-color: #FFFFFF;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	color: #FFFFFF;
	background-color: #000000;
	border-color: #FFFFFF;
}

.pagination span a:hover {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.gif");
}

.row .pagination span a, li.pagination span a {
	background-color: #888888;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #000000;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #DDDDDD;
}

.error {
	color: #BA2D2A;
}

.reported {
	background-color: #E0C062;
}

li.reported:hover {
	background-color: #FFB293 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #FFB293;
	color: #BA2D2A;
}

p.rules {
	background-color: #FFB293;
	background-image: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #FFFFFF; }
a:visited	{ color: #CCCCCC; }
a:hover	{ color: #FF0000; }
a:active	{ color: #B72724; }

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #EFEDE8;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #EFEDE8;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #C10300;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #C10300;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #FFFFFF;
}

/* a.forumtitle:visited { color: #60391F; } */

a.forumtitle:hover {
	color: #FF0000;
}

a.forumtitle:active {
	color: #B72724;
}

a.topictitle {
	color: #FFFFFF;
}

/* a.topictitle:visited { color: #60391F; } */

a.topictitle:hover {
	color: #FF0000;
}

a.topictitle:active {
	color: #B72724;
}

/* Post body links */
.postlink {
	color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.postlink:visited {
	color: #BBBBBB;
	border-bottom-color: #666666;
}

.postlink:active {
	color: #B72724;
}

.postlink:hover {
	background-color: #FFFFFF;
	color: #BA2D2A;
}

.signature a, .signature a:visited, .signature a:active, .signature a:hover {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a {
	color: #EEEEEE;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #B72724;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #7F3503;
}

.search .postprofile a:hover {
	color: #B72724;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif") }

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	color: #FF0000;
}

a.right:hover {
	color: #FF0000;
}


/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

/*fix for the color below the emoticons*/
#smiley-box {
	color: #FFFFFF;
}

ul.forums {
	background-color: #4c4c4c;
	background-image: url("{T_THEME_PATH}/images/gradient.png");
}

ul.topiclist li {
	color: #DDDDDD;
}

ul.topiclist dd {
	border-left-color: #000000;
}

.rtl ul.topiclist dd {
	border-right-color: #F7F3EF;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row {
	border-top-color:  #000000;
	border-bottom-color: #000000;
}

li.row strong {
	color: #FFFFFF;
}

li.row:hover {
	background-color: #656565;
}

li.row:hover dd {
	border-left-color: #000000;
}

.rtl li.row:hover dd {
	border-right-color: #CCC1B3;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #EFEDE8;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333333;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #DDDDDD;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #FFFFFF;
}

.content h2, .panel h2 {
	color: #FFFFFF;
	border-bottom-color:  #FFFFFF;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #FCDB6F;
	color: #891210;
}

/* Post signature */
.signature {
	border-top-color: #000000;
}

/* Post noticies */
.notice {
	border-top-color:  #000000;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #888888;
	background-image: url("{T_THEME_PATH}/images/quote.png");
	border-color:#000000;
}

.rtl blockquote {
	background-image: url("{T_THEME_PATH}/images/quote_rtl.png");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#666666;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #888888;
}

blockquote blockquote blockquote blockquote {
	/* Nested quotes */
	background-color:#666666;
}

blockquote blockquote blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #888888;
}

blockquote blockquote blockquote blockquote blockquote blockquote {
	/* Nested quotes */
	background-color:#666666;
}

/* Code block */
dl.codebox {
	background-color: #222222;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

dl.codebox dt {
	border-bottom-color:  #FFFFFF;
}

dl.codebox code {
	color: #00EE00;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #BA6007; }
.syntaxdefault	{ color: #7800BA; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #EFEDE8;
	border-color:  #70201F;
}

.pm-message .attachbox {
	background-color: #F4F3F2;
}

.attachbox dd {
	border-top-color: #B29D9D;
}

.attachbox p {
	color: #706654;
}

.attachbox p.stats {
	color: #706654;
}

.attach-image img {
	border-color: #A09280;
}

/* Inline image thumbnails */

dl.file dd {
	color: #706654;
}

dl.thumbnail img {
	border-color: #706654;
	background-color: #EFEDE8;
}

dl.thumbnail dd {
	color: #706654;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #721816;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #EFEDE8;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #000000;
	border-left-color: #000000;
}

.rtl .postprofile {
	border-right-color: #EFEDE8;
	border-left-color: transparent;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.rtl .pm .postprofile {
	border-right-color: #DDDDDD;
	border-left-color: transparent;
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("{T_IMAGESET_LANG_PATH}/icon_user_online.png");
}

.vla {
	background-image: url("{T_IMAGESET_LANG_PATH}/icon_user_vla.png");
	background-repeat: no-repeat;
	background-position: right top;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print.png");
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_sendemail.png");
}

a.fontsize {
	background-image: url("{T_THEME_PATH}/images/icon_fontsize.png");
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.png"); }
.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.png"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.png"); }
.icon-wiki						{ background-image: url("{T_THEME_PATH}/images/icon_wiki.png"); }
.icon-rules						{ background-image: url("{T_THEME_PATH}/images/icon_rules.png"); }
.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.png"); }
.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.png"); }
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.png"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.png"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.png"); }
.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.gif"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.png"); }

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.wiki-icon, .wiki-icon a		{ background-image: url("{IMG_ICON_CONTACT_WIKI_SRC}"); }
.msnm-icon, .msnm-icon a		{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }
.multiquoteplus-icon, .multiquoteplus-icon a		{ background-image: url("{IMG_ICON_POST_MULTIPLUS_SRC}"); }
.multiquoteminus-icon, .multiquoteminus-icon a		{ background-image: url("{IMG_ICON_POST_MULTIMINUS_SRC}"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); } /* Need updated warn icon */

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #FFFFFF;
}

#cp-main .panel li.row {
	border-bottom-color: #000000;
	border-top-color: #000000;
}

ul.cplist {
	border-top-color: #FFFFFF;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #FFFFFF;
}

#cp-main table.table1 thead th {
	color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

#cp-main .pm-message {
	border-color: #DBCBB1;
	background-color: #EFEDE8;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	background-image: url("{T_THEME_PATH}/images/bg_tabs1.png");
}

#tabs a span {
	background-image: url("{T_THEME_PATH}/images/bg_tabs2.png");
	color: #FFFFFF;
}

#tabs a:hover span {
	color: #BA2D2A;
}

#tabs .activetab a {
	border-bottom-color: #000000;
}

#tabs .activetab a span {
	color: #333333;
}

#tabs .activetab a:hover span {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #EFE9DE;
}

#minitabs li.activetab {
	background-color: #F9F9F9;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #333333;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #333;
	background-color: #8d8d8d;
	background-image: url("{T_THEME_PATH}/images/bg_menu.png");
}

.rtl #navigation a {
	background-image: url("{T_THEME_PATH}/images/bg_menu_rtl.png");
	background-position: 0 100%;
}

#navigation a:hover {
	background-image: none;
	background-color: #555555;
	color: #FFFFFF;
}

#navigation #active-subsection a {
	color: #FFFFFF;
	background-color: #555555;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #B72724;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #FFFFFF;
}

#cp-main .panel {
	background-color: #555555;
}

#cp-main .pm {
	background-color: #555555;
}

/* Friends list */
.cp-mini {
	background-color: #666666;
}

dl.mini dt {
	color: #FFFFFF;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM panel adjustments */
.pm-panel-header,
#cp-main .pm-message-nav {
	border-bottom-color: #FFFFFF;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #AD2B29;
	border-right-color: #AD2B29;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF0000;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #0000FF;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #447522;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #A51A56;
}

/* Avatar gallery */
#gallery label {
	background-color: #EFEDE8;
	border-color: #CCCCCC;
}

#gallery label:hover {
	background-color: #EEEEEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #703B16;
	background-color: #F4F0ED;
	color: #000000;
}

label {
	color: #FFFFFF;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #EEEEEE;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #B72724;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #000000;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #D0D0D0; 
	border-color: #000000;
	color: #000000;
}

.inputbox:hover {
	border-color: #B70C09;
}

.inputbox:focus {
	border-color: #B70C09;
	color: #472D09;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #000000;
	background-color: #EFEDE8;
	background-image: url("{T_THEME_PATH}/images/bg_button.png");
}

a.button1, input.button1 {
	border-color: #FF0000;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #000000;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #BA2D2A;
	color: #BA2D2A;
}

input.search {
	background-image: url("{T_THEME_PATH}/images/icon_search.png");
}

input.disabled {
	color: #666666;
}
