div#gameInfoMaster {

	width: 100%;
	font-size: 13px;
	margin-bottom: 30px;
	float: left;
}

div.gameFieldNameLabel {

	width: 150px;
	height: 27px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}

#gameInfoLeft {

	float: left;
	width: 300px;
}

#gameInfoRight {

	overflow: hidden;
	width: 80%;
}

#gameModeratorTable {

	font-size: 10px;
	border-bottom: none;
	float: left;
}



#gamePlayerTable {
	float: left;
	font-size: 10px;
}

#gameModeratorTableContainer {
	
}

#gamePlayerTableContainer {
	margin-top: 15px;
}

.gamePlayerHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}

#gameInfoButtonRow {
	margin-top: 7px;
}

.gameInfoUnorderedListButtonIcon
{
	float: right;
	width: auto;
	padding: 0;
}

ul.gameInfoUnorderedListButtonIcon li
{
	float: left;
	list-style: none;
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon
{
	width: 17px;
	height: 20px;
	background-image: url("./styles/prosilver/imageset/icon_post_delete.png");
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon:hover
{
	background-position: 0px -20px !important;
}

ul.gameInfoUnorderedListButtonIcon li.editIcon
{
	width: 53px;
	height: 20px;
	background-image: url("./styles/prosilver/imageset/en/icon_post_edit.png");
}

ul.gameInfoUnorderedListButtonIcon li.editIcon:hover
{
	background-position: 0px -20px !important;
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon
{
	width: 17px;
	height: 20px;
	background-image: url("./styles/prosilver/imageset/icon_post_delete.png");
}

ul.gameInfoUnorderedListButtonIcon li.removeIcon:hover
{
	background-position: 0px -20px !important;
}

ul.gameInfoUnorderedListButtonIcon li a
{
	display: block;
	background-position: 0 0;
	width: 100%;
	height: 100%;
}

input.gameInfoLabel {
	width: 125px;
	font-weight:bold;
}

.hidden {
	display:none;
}

div#addModeratorContainer
{
	margin-top: 15px;
}

div#addModeratorContainer .label
{
	display: inline-block;
	width: 150px;
	height: 27px;
}

div#addModeratorContainer .addModeratorInput
{
	width: 200px;
	display: inline-block;
}


div#addPlayerContainer
{
	margin-top: 15px;
}

div#addPlayerContainer .label
{
	display: inline-block;
	width: 150px;
	height: 27px;
}

div#addPlayerContainer .addPlayerInput
{
	width: 200px;
	display: inline-block;
}


div#gameInfoMaster {

	font-size: 13px;
	margin-bottom: 30px;
}

div.gameFieldNameLabel {

	width: 150px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}

#gameInfoLeft {

	float: left;
	width: 32%;
}

#gameInfoRight {

	float: left;
	margin-left: 3%;
	width: 65%
}

.hidden{
	display:none;
}

#gameInfoModeratorTable {

	width: 300px;
	border: 1px solid #000000;
	border-bottom: none;
	float: left;
	background-image: url("./styles/mafsepia/theme/images/bg_header.png");
}

.gameInfoModeratorRow {

	width: 300px;
	float: left;
	border-bottom: 1px solid #000000;
}

.gameInfoModeratorUsername {
	width: 200px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoModeratorType {
	width: 99px;
	float: left;
	text-align: center;
}

.gameInfoModeratorHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}

#gameInfoPlayerTable {

	width: 825px;
	border: 1px solid #000000;
	border-bottom: none;
	float: left;
	clear: left;
	margin-top: 15px;
	background-image: url("./styles/mafsepia/theme/images/bg_header.png");
}

.gameInfoPlayerRow {

	width: 825px;
	float: left;
	border-bottom: 1px solid #000000;
}

.gameInfoPlayerUsername {
	width: 200px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerSlotNumber {
	width: 99px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerAlignment {

	width: 99px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}
.in-table-icons{
	float: left;
}
.in-table-username{
	float: left;
}

.gameInfoPlayerFaction {

	width: 149px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerRole {

	width: 124px;
	float: left;
	text-align: center;
	border-right: 1px solid #000000;
}

.gameInfoPlayerStartDate {
	width: 149px;
	float: left;
	text-align: center;
}

.gameInfoPlayerHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}
.gamePanel{
	padding: 5px 10px;
	margin-bottom: 35px;
}
a.signature_hideshow {
	text-decoration:none;
	color: #999999;
	font-size:.85em;
	line-height: 100%;
}
a.signature_hideshow:hover{
	text-decoration:none;
	color: #DF1B1B;
	font-size:.85em;
	line-height: 100%;
}
.postbody .noboldsig{font-weight:bold;}
.signature .noboldsig{font-weight:normal;}
.signature .nocolorsig{color:#333333;}

/* Unread PM Indicator */
.unread_flag{
display:inline-block;
width:5px;
height:5px;
position:relative;
vertical-align:middle;
margin-bottom:.1em;
border-radius:5px;
margin-right:3px;
background-color:#d90000;
}
/* Read PM Indicator */
.read_flag{
display:inline-block;
width:5px;
height:5px;
position:relative;
vertical-align:middle;
margin-bottom:.1em;
border-radius:5px;
margin-right:3px;
background-color:#0000FF;
}
/*Unread Indicator Legend*/
.indi-legend{
margin-bottom:6px;
}
/*private topics*/
#private_user_list li {
	list-style-type: none;
}
#private_user_list li a{
	display: inline-block;
}
#site-description p, #site-description h1 {
	display:none;
}
#private_user_input {
	cursor: text;
}
.private {
	background: #362819;
}
.private a {
	color: white;
}
.private {
	color: black;
	text-shadow: none;
}
.private .content, .private .postprofile, .private .postprofile strong,.private .author {
	color: black;
}
.private .post , .private .postbody{
	color: black;
	text-shadow: none;
}
.private .back2top {
	border-color: black;
}
.private .postprofilecontainer {
	border-color: black;
}
.private .bg1 {
	background: #279F36;
}
.private .headerbar {
	background-image: none;
	background-color: #74BF5B;
}
.private .bg2 {
	background: #74BF5B;
}
.private .panel, .private .navbar{
	background: #528C42;
}
.private .corners-top, .private .corners-bottom {
 background-image: none;
}
.repeatable-remove{
	cursor: pointer;
}
.navlinks-footer{
	clear: both;
	display: block;
}

/*bbcode*/
.bbtableheader{
	border:1px solid black; 
	padding:3px; 
	background-color: #DDDDDD;
}

.bbvote{
	font-weight: bold; 
	background:#FFFFFF;
	color: black;
	padding: 0px 2px;
	text-shadow: none;
}

/* following */
.group_tab{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	color: white;
	background-color: #888888;
	cursor: pointer;
	min-width: 130px;
}
.group_add{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
	font-weight: bold;
	color: white;
	background-color: #222222;
	cursor: pointer;
}
#following_widget{
	padding: 10px;
}
#following_groups .topiclist .header{
	background-color: #222222;
}
#following_groups .topiclist .header .lastpost{
	padding-left: 5px;
}
.follow_form_element{
	cursor: text;
}
.active_follow_tab{
	background-color: #222222;
}
#following_widget fieldset {
	border-width: 1px;
	border-color: #999999;
	border-style: solid;
	padding: 5px;
}
#following_widget dd.email_follow {
	padding-left: 5px;
	width: 50px;
}
.follow_unread_indicator {
	min-width: 20px;
	margin-right: 10px;
	float: right;
	display: inline-block;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}
.processing{
	cursor: progress;
}