
div#gameInfoMaster {

	font-size: 13px;
	margin-bottom: 30px;
}

div.gameFieldNameLabel {

	width: 150px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}
.gamePanel{
	padding: 5px 10px;
	margin-bottom: 35px;
}
a.signature_hideshow {
	text-decoration:none;
	color: #999999;
	font-size:.85em;
	line-height: 100%;
}
a.signature_hideshow:hover{
	text-decoration:none;
	color: #DF1B1B;
	font-size:.85em;
	line-height: 100%;
}
.postbody .noboldsig{font-weight:bold;}
.signature .noboldsig{font-weight:normal;}
.signature .nocolorsig{color:#333333;}

/* Unread PM Indicator */
.unread_flag{
display:inline-block;
width:5px;
height:5px;
position:relative;
vertical-align:middle;
margin-bottom:.1em;
border-radius:5px;
margin-right:3px;
background-color:#d90000;
}
/* Read PM Indicator */
.read_flag{
display:inline-block;
width:5px;
height:5px;
position:relative;
vertical-align:middle;
margin-bottom:.1em;
border-radius:5px;
margin-right:3px;
background-color:#0000FF;
}
/*Unread Indicator Legend*/
.indi-legend{
margin-bottom:6px;
}
#add_private_topic_user li {
	list-style-type: none;
}
