
div#gameInfoMaster {

	font-size: 13px;
	margin-bottom: 30px;
}

div.gameFieldNameLabel {

	width: 150px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}
.gamePanel{
	padding: 5px 10px;
	margin-bottom: 35px;
}
a.signature_hideshow {
	text-decoration:none;
	color: #999999;
	font-size:.85em;
	line-height: 100%;
}
a.signature_hideshow:hover{
	text-decoration:none;
	color: #DF1B1B;
	font-size:.85em;
	line-height: 100%;
}
.postbody .noboldsig{font-weight:bold;}
.signature .noboldsig{font-weight:normal;}
.signature .nocolorsig{color:#333333;}
