<style type="text/css">

div#gameInfoMaster {

	font-size: 13px;
	margin-bottom: 30px;
}

div.gameFieldNameLabel {

	width: 150px;
	display: inline-block;
}

span.gameFieldValue {

	font-weight: bold;
}



.gamePanel{
	padding: 5px 10px;
	margin-bottom: 35px;
}
</style>