/*Main Styles*/
#gameContainer{
	min-width:640px;
	margin-bottom:20px;
	position:relative;
}
.leftColumn{
	float:left;
	width: 19%;
	margin-right:1%;
}

.rightColumn
{
	float: left;
	width: 80%;
}

/*Main Queue Page*/
#queuesContainer{
	background: #CFDDE3;
	border-radius:5px;
	margin-bottom:20px;
	border: 1px solid #00608F;
}

#queuesContainer h3{
	border-bottom: 1px solid #00608F;
	background-color:#cfdde3;
	padding:5px 0 5px 5px;
	border-radius:5px 5px 0 0;
	margin:0;
	color:#eee;
	font-size:1.2em;
	
}
.queuesList{
	list-style-type:none;
	padding:0;
	margin:0;
}

.queuesList li{
	list-style-type:none;
	padding: 5px 0 5px 5px;
}

.queuesList a{
	display:block;
	text-decoration:none;
}

.games{
	border-radius: 5px;
	border:1px solid #00608F;
}

.games  thead{
	padding-top:15px;
	color: #000;
}
#gamePlayers{
	position:relative;
	width:100%;
	float:left;
}
#gameMods{
	position:relative;
	width:100%;
	float:left;
}
	
.leftslot{
	margin-bottom:30px;
}
.gameField{
	width:90px;
	display:inline-block;
}
.gameValue{
	font-weight:bold;
}
.infoField{
	margin-bottom:5px;
	line-height:20px;
}

#gamelist{
	width:100%;
}
#gamelist thead{
	width:100%;
	position:relative;
	height:40px;
	background-color:#cfdde3;
}

#gamelist tr{
	width:100%;
}

div#gameInfoMaster {

	width: 100%;
	font-size: 13px;
	margin-bottom: 30px;
	float: left;
}

div.gameFieldNameLabel {

	width: 90px;
	line-height: 27px;
	display: inline-block;
	vertical-align:top;
	margin-bottom: 
}

span.gameFieldValueEditable {
	width: 200px;
	display: inline-block;
	line-height: 27px;
	font-weight: bold;
}
span#gameInfoGameDescriptionField{
	line-height: 15px;
}
div.gameFieldNameDescription{
min-height:27px;
line-height: 15px;
}
span.gameFieldValue {
	width: 200px;
	display: inline-block;
	line-height: 27px;
	font-weight: bold;
}
a.gameFieldValue {
	width: 200px;
	display: inline-block;
	line-height: 27px;
	font-weight: bold;
}

#gameInfoLeft {

	float: left;
	width: 300px;
}

#gameInfoRight {

	overflow: hidden;
	width: 75%;
}

#gameModeratorTable {

	font-size: 10px;
	border-bottom: none;
	float: left;
}



#gamePlayerTable {
	float: left;
	font-size: 10px;
}

#gameModeratorTableContainer {
	
}

#gamePlayerTableContainer {
	margin-top: 15px;
}

.gamePlayerHeader {
	font-weight: bold;
	border: none;
	color: #EFEDE8;
}

#gameInfoButtonRow {
	margin-top: 7px;
}

input.gameInfoLabel {
	width: 190px;
	line-height:27px;
	height:21px;
	font-weight:bold;
}
select.gameInfoLabel {
	width: 190px;
	line-height:27px;
	height:27px;
	font-weight:bold;
}
textarea.gameInfoLabel {
	width: 190px;
	font-weight:bold;
}

.hidden {
	display:none;
}
.moderatorEditPanel{
	margin-top:15px;
}
div#addModeratorContainer
{
	margin-top: 15px;
}

div#addModeratorContainer .label
{
	display: inline-block;
	width: 150px;
	height: 27px;
}

div#addModeratorContainer .addModeratorInput
{
	width: 200px;
	display: inline-block;
}


div#addPlayerContainer
{
	margin-top: 15px;
}

div .label
{
	display: inline-block;
	width: 175px;
	height: 27px;
}

div .addPlayerInput
{
	width: 200px;
	display: inline-block;
}
div#addFactionPane .addPlayerInput{
	width: 200px;
	display: inline-block;
}
div#addFactionPane .label {
	display: inline-block;
	width: 175px;
	height: 27px;
}
div#addRolePane .addPlayerInput{
	width: 200px;
	display: inline-block;
}
div#addRolePane .label {
	display: inline-block;
	width: 175px;
	height: 27px;
}
div#internalAddFactionPane{
	margin-left: 10px;
}
div#internalAddRolePane{
	margin-left: 10px;
}
ul.profile-icons li.gameicon{
	display: inline-block;
	padding:0;
	margin: 0px 4px 2px 0px;
}
td.username a{
	float:left;
}
td.username ul{
	float:right;
	padding:0px;
}