<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = <!-- IF $SIG_EDIT -->'signature'<!-- ELSE -->'message'<!-- ENDIF -->;
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
	bbtags[1450] = '[countdown]';
	bbtags[1451] = '[/countdown]';
	bbtags[1452] = '[dice]';
	bbtags[1453] = '[/dice]';
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: '{LA_BBCODE_B_HELP}',
		i: '{LA_BBCODE_I_HELP}',
		u: '{LA_BBCODE_U_HELP}',
		q: '{LA_BBCODE_Q_HELP}',
		c: '{LA_BBCODE_C_HELP}',
		l: '{LA_BBCODE_L_HELP}',
		o: '{LA_BBCODE_O_HELP}',
		p: '{LA_BBCODE_P_HELP}',
		w: '{LA_BBCODE_W_HELP}',
		a: '{LA_BBCODE_A_HELP}',
		s: '{LA_BBCODE_S_HELP}',
		f: '{LA_BBCODE_F_HELP}',
		e: '{LA_BBCODE_E_HELP}',
		d: '{LA_BBCODE_D_HELP}'
		<!-- BEGIN custom_tags -->
			,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
		<!-- END custom_tags -->
	}

	var panels = new Array('options-panel', 'attach-panel', 'poll-panel');
	var show_panel = 'options-panel';


// ]]>
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>
<script type="text/javascript">
var bbCodeCounter = 0;
</script>
<script type='text/javasctipt'>
function GetBBCodeLayout(bbcode_id){
 var buffer ="";
	if (bbCodeCounter % 3 == 0){
		buffer='ui-block-a';
	}else if (bbCoderCounter % 3 == 1){
		buffer='ui-block-b';
	} else {
		buffer='ui-block-c';
	}
	bbCodeCounter++;
	document.getElementById(bbcode_id).class=buffer;
}
</script>
<div class="clear"></div>
	<!-- BEGIN custom_tags -->
		<div id="{custom_tags.BBCODE_ID}" class="custom_buttons" "GetBBCodeLayout({custom_tags.BBCODE_ID});">
			<input data-inline="true" type="button" class="button2" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})" title="{custom_tags.BBCODE_HELPLINE}" />
		</div>
	<!-- END custom_tags -->
<div class="clear"></div>