
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_FIRST_ROW) -->
			<ul data-role="listview">
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
			<!-- IF forumrow.S_IS_CAT --><li data-role="list-divider">{forumrow.FORUM_NAME}<!-- ELSE --><li data-role="list-divider">{L_FORUM}<!-- ENDIF --></li>
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<li>
			<a href="{forumrow.U_VIEWFORUM}"><img class="ui-li-thumb" src="{forumrow.FORUM_FOLDER_IMG_SRC}"/> {forumrow.FORUM_NAME}</a>
		</li>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>
	<!-- ENDIF -->
<!-- END forumrow -->
