<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="./styles/mafMobile2/template/custom.js"></script>
<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

<script type="text/javascript">
window.onerror = function(msg, url, lineNo)  {

	$.ajax({

		type: "POST",
		url: "js_error.php",
		data: {Error: msg, LineNumber: lineNo, URL: url, UserID: {S_USER_ID}, UserName: "{S_USERNAME}", ScriptName: "{SCRIPT_NAME}"},
		success: function(response) {
		}
	});

	return true;
}
</script>

<script type="text/javascript">
// <![CDATA[
	var jump_page = '{LA_JUMP_PAGE}:';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '{A_COOKIE_SETTINGS}';
	var onload_functions = new Array();
	var onunload_functions = new Array();

	/**
	* Find a member
	*/
	function find_username(url)
	{
		popup(url, 760, 570, '_usersearch');
		return false;
	}

	/**
	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
	*/
	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	}

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	}

// ]]>
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/styleswitcher.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- IF SCRIPT_NAME eq 'viewtopic' -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/viewtopic.js"></script>
<!-- ENDIF -->
<!-- IF SCRIPT_NAME eq 'posting' -->
<script type="text/javascript" src="./styles/mafMobile2/template/editor.js"></script>
<!-- ENDIF -->
<link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />
<link rel="stylesheet"  href="./styles/mafMobile2/theme/custom.css" />
<link rel="stylesheet"  href="./styles/mafMobile2/theme/bbcodes.css" />
<link href="{T_THEME_PATH}/normal.css" rel="stylesheet" type="text/css" title="A" />
<link href="{T_THEME_PATH}/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
<link href="{T_THEME_PATH}/large.css" rel="alternate stylesheet" type="text/css" title="A++" />

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31225517-1']);
  _gaq.push(['_setDomainName', 'mafiascum.net']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	_gaq.push(['_trackEvent', 'Mobile', 'Load', 'mafMobile2']);
</script>
</head>

<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}" {LOAD_OPTIONS}>

<div data-role="page" class="page">
<div data-role="header" data-position="inline">
	<a href="{U_INDEX}" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>
	<h1><span id="title_mafia">MAFIA</span><span id="title_scum">SCUM</span></h1>
	<a href="{U_LOGIN_LOGOUT}" data-icon="delete" data-iconpos="notext" data-direction="reverse"></a>
</div>

<div data-role="content">
<div class="content-primary">
	<a id="top" name="top" accesskey="t"></a>
	<div>



		<div data-role="navbar">
			<ul>
				<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
				<li class="icon-ucp">
					<a <!-- IF not (PRIVATE_MESSAGE_INFO eq '<strong>0</strong> new messages')--> data-theme="b" <!-- ENDIF -->href="{U_PRIVATEMSGS}" title="{U_PRIVATEMSGS}" accesskey="e">Control Panel</a>
						<!-- IF S_DISPLAY_PM --> 
						<!-- ENDIF -->
				</li>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH --><li class="icon-search"><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH}</a></li><!-- ENDIF  -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_DISPLAY_MEMBERLIST -->
					<li class="icon-members"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
					<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
					<li class="icon-register"><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
					<li class="icon-wiki"><a href="http://wiki.mafiascum.net/" title="MafiaWiki">Wiki</a></li>
				<!-- ENDIF -->
			</ul>
		</div>
			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
				<!-- IF S_DISPLAY_SEARCH -->
				<div id="top-left-nav">
						<a href="{U_SEARCH_SELF}" data-role="button" data-inline="true" >Your Posts</a>
				</div>
				<!-- ENDIF -->
			<div id="top-right-nav">
				<div id="subscription"><a class="right" href="./ucp.php?i=main&mode=subscribed" data-role="button" data-inline="true">Subscriptions</a></div>
				<a class="right" href="./ucp.php?i=main&mode=bookmarks" data-role="button" data-inline="true">Bookmarks</a>
			</div>
			<!-- ENDIF -->
	</div>

	<a name="start_here"></a>
	<div id="page-body">
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
		</div>
		<!-- ENDIF -->
		<div class="clear"></div>
		<!-- IF not (SCRIPT_NAME eq 'viewtopic') -->
			<!-- IF U_MCP --><p><a href="{U_MCP}" data-role="button" data-inline="true">MCP</a></p><!-- ENDIF -->
		<!-- ENDIF -->
