<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	onload_functions.push('document.getElementById("keywords").focus();');
// ]]>
</script>


<div id="forum_title_frame">
	<h2 >{L_SEARCH}</h2>
</div>
<form method="get" action="{S_SEARCH_ACTION}">
<div class="panel">
<div class ="panel" data-role="collapsible-set" data-theme="c" data-content-theme="c">
	<div data-role="collapsible" data-collapsed="false">
	<h3>{L_SEARCH_QUERY}</h3>
<div class="panel">

	<fieldset>
		<label for="keywords">{L_SEARCH_KEYWORDS}:</label>
		<input type="text" class="inputbox" name="keywords" id="keywords" size="40" title="{L_SEARCH_KEYWORDS}" />
		<label for="terms1"><input type="radio" name="terms" id="terms1" value="all" checked="checked" /> {L_SEARCH_ALL_TERMS}</label>
		<label for="terms2"><input type="radio" name="terms" id="terms2" value="any" /> {L_SEARCH_ANY_TERMS}</label>
		<br/>
		<label for="author">{L_SEARCH_AUTHOR}:</label>
		<input type="text" class="inputbox" name="author" id="author" size="40" title="{L_SEARCH_AUTHOR}" />
	</fieldset>
</div>
</div>
	<div data-role="collapsible">
	<h3>{L_SEARCH_OPTIONS}</h3>
<div class="panel">
	<fieldset>
		<p>{L_SEARCH_FORUMS}:</p>
		<select data-native-menu="false" name="fid[]" id="search_forum" multiple="multiple" size="8" title="{L_SEARCH_FORUMS}">{S_FORUM_OPTIONS}</select>
		<p>{L_SEARCH_SUBFORUMS}:</p>
		<label for="search_child1"><input type="radio" name="sc" id="search_child1" value="1" checked="checked" /> {L_YES}</label>
		<label for="search_child2"><input type="radio" name="sc" id="search_child2" value="0" /> {L_NO}</label>
		
		<p>{L_SEARCH_WITHIN}:</p><label for="sf1"><input type="radio" name="sf" id="sf1" value="all" checked="checked" /> {L_SEARCH_TITLE_MSG}</label>
		<label for="sf2"><input type="radio" name="sf" id="sf2" value="msgonly" /> {L_SEARCH_MSG_ONLY}</label>
		<label for="sf3"><input type="radio" name="sf" id="sf3" value="titleonly" /> {L_SEARCH_TITLE_ONLY}</label><label for="sf4">
		<input type="radio" name="sf" id="sf4" value="firstpost" /> {L_SEARCH_FIRST_POST}</label>
</div>
</div>
	<div data-role="collapsible">
	<h3>Display options</h3>
<div class="panel">
			<label>{L_DISPLAY_RESULTS}:</label>
			<label for="show_results1"><input type="radio" name="sr" id="show_results1" value="posts" checked="checked" /> {L_POSTS}</label>
			<label for="show_results2"><input type="radio" name="sr" id="show_results2" value="topics" /> {L_TOPICS}</label>
			<label>{L_RESULT_SORT}:</label>{S_SELECT_SORT_KEY}&nbsp;
			<label for="sa"><input type="radio" name="sd" id="sa" value="a" /> {L_SORT_ASCENDING}</label>
			<label for="sd"><input type="radio" name="sd" id="sd" value="d" checked="checked" /> {L_SORT_DESCENDING}</label>

<label>{L_RESULT_DAYS}:</label>
{S_SELECT_SORT_DAYS}

		<label>{L_RETURN_FIRST} X {L_POST_CHARACTERS}:</label><select name="ch" title="{L_RETURN_FIRST}">{S_CHARACTER_OPTIONS}</select> 
	</fieldset>
</div>
</div>
<div class="panel">
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />
		<input type="submit" name="submit" value="{L_SEARCH}" class="button1" />
	</fieldset>
</div>
</div>
</div>
</form>


<!-- INCLUDE overall_footer.html -->
