<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>
{PAGE_NUMBER}

<div class="panel">

<!-- IF .forumrow -->
<div class="ui-grid-a eighttworatio">
	<div class="ui-block-a">
	<ul data-role="listview" data-split-theme="d" data-inset="true">
	<!-- BEGIN forumrow -->
		<li <!-- IF forumrow.S_ROW_COUNT is even --> data-theme="c"<!-- ELSE --> data-theme="d"<!-- ENDIF -->>
			<a href="{forumrow.U_VIEWFORUM}" class="topictitle"><img class="ui-li-thumb" src="{forumrow..FORUM_FOLDER_IMG_SRC}"/>{forumrow.FORUM_NAME}</a>
		</li>
	<!-- END forumrow -->
	</ul>
	</div>
	<div class="ui-block-b markbuttons">
	<!-- BEGIN forumrow -->
		<label for="f{forumrow.FORUM_ID}">M</label><input type="checkbox" name="f[{forumrow.FORUM_ID}]" id="f{forumrow.FORUM_ID}" />
	<!-- END forumrow -->
	</div>
	</div>
<!-- ELSEIF S_FORUM_NOTIFY -->
	<p>{L_NO_WATCHED_FORUMS}</p>
<!-- ENDIF -->

<!-- IF .topicrow -->
<div class="ui-grid-a eighttworatio">
	<div class="ui-block-a">
	<ul data-role="listview" data-split-theme="d" data-split-icon="star" data-inset="true">

	<!-- BEGIN topicrow -->
		<li <!-- IF topicrow.S_ROW_COUNT is even --> data-theme="c"<!-- ELSE --> data-theme="d"<!-- ENDIF -->>
			<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle"><img class="ui-li-thumb" src="{topicrow.TOPIC_FOLDER_IMG_SRC}"/>{topicrow.TOPIC_TITLE}</a>
			<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">New</a><!-- ENDIF -->
		</li>
		
	<!-- END topicrow -->
	</ul>
	</div>
	<div id="mark" class="ui-block-b markbuttons">
	<!-- BEGIN topicrow -->
		<label for="t{topicrow.TOPIC_ID}">M</label><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" />
	<!-- END topicrow -->
	</div>
	</div>
		<!-- IF PAGINATION -->
		<div class="buttonpannel bg1">
		<div class="pagination">
		<div data-role="controlgroup" data-type="horizontal">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" data-direction="reverse" data-role="button" data-icon="arrow-l"  data-inline="true" title="Previous Page" class="grouped_icon_button">Previous</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE or PREVIOUS_PAGE --><a href="#jumpPage" data-role="button" data-inline="true" data-rel="dialog" title="{L_JUMP_TO_PAGE}">Jump</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" data-role="button" data-iconpos="right" data-icon="arrow-r"  data-inline="true" title="Next Page" class="grouped_icon_button">Next</a><!-- ENDIF -->
		</div>
		</div>
		</div>
	<!-- ENDIF -->
<!-- ELSEIF S_TOPIC_NOTIFY -->
	<p><strong>{L_NO_WATCHED_TOPICS}</strong></p>
<!-- ENDIF -->

</div>

	<div class="panel">
<!-- IF .topicrow or .forumrow -->
		<fieldset class="display-actions">
			<input class="button2" type="submit" name="unwatch" value="Unwatch Marked" />
			<div class="ui-grid-a"><div class="ui-block-a"><a data-role="button" href="#" onclick="marklist('mark', '', true); return false;">{L_MARK_ALL}</a></div> <div class="ui-block-b"><a data-role="button" href="#" onclick="marklist('mark', '', false); return false;">{L_UNMARK_ALL}</a></div></div>
			{S_FORM_TOKEN}
		</fieldset>
<!-- ENDIF -->
</div>
</form>

<!-- INCLUDE ucp_footer.html -->