<!-- INCLUDE overall_header.html -->

<div id="forum_title_frame">
	<h2>{L_UCP}</h2>
</div>

<div id="tabs">
<div class="panel bg2">
<div class="panel bg2" data-role="collapsible-set" data-theme="c" data-content-theme="c">
	<div data-role="collapsible">
	<h3>Tabs</h3>
	<ul data-role="listview" data-inset="true">
		<!-- BEGIN t_block1 -->
		<li <!-- IF t_block1.S_SELECTED -->data-theme="b"<!-- ENDIF -->><a href="{t_block1.U_TITLE}">{t_block1.L_TITLE}</a></li>
		<!-- END t_block1 -->
	</ul>
	</div>
	<div data-role="collapsible">
	<h3>Sub-Tabs</h3>

		<!-- IF S_PRIVMSGS -->
						<ul data-role="listview" data-inset="true">
			<!-- BEGIN t_block2 -->
				<!-- IF S_PRIVMSGS and not t_block2.S_LAST_ROW -->
					<!-- IF t_block2.S_SELECTED -->
						<li data-theme="b"><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
					<!-- ELSE -->
						<li><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
					<!-- ENDIF -->
				<!-- ENDIF -->
			<!-- END t_block2 -->
				</ul>
			<hr />
			<!-- BEGIN folder -->
				<!-- IF folder.S_FIRST_ROW --><ul data-role="listview" data-inset="true"><!-- ENDIF -->
				<!-- IF folder.S_CUR_FOLDER -->
					<li data-theme="b"><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a></li>
				<!-- ELSE -->
					<li><a href="{folder.U_FOLDER}"><span><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></span></a></li>
				<!-- ENDIF -->
				<!-- IF folder.S_LAST_ROW --></ul><!-- ENDIF -->
			<!-- END folder -->
			<hr />
		<!-- ENDIF -->

			<ul data-role="listview" data-inset="true">
		<!-- BEGIN t_block2 -->
			<!-- IF (S_PRIVMSGS and t_block2.S_LAST_ROW) or not S_PRIVMSGS -->
				<!-- IF t_block2.S_SELECTED -->
					<li data-theme="b"><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
				<!-- ELSE -->
					<li><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
				<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- END t_block2 -->
			</ul>
		</div>
	</div>
	
		<!-- IF S_SHOW_COLOUR_LEGEND -->
		<div class="panel">

			<fieldset>
				<legend>{L_MESSAGE_COLOURS}</legend>
				<!-- BEGIN pm_colour_info -->
					<span class="pm-legend<!-- IF pm_colour_info.CLASS --> {pm_colour_info.CLASS}<!-- ENDIF -->"><!-- IF pm_colour_info.IMG -->{pm_colour_info.IMG} <!-- ENDIF -->{pm_colour_info.LANG}</span><br />
				<!-- END pm_colour_info -->
			</fieldset>
		</div>
		<!-- ENDIF -->
	</div>
</div>
	<div class="panel bg3">
	<!-- IF S_COMPOSE_PM -->
		<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
	<!-- ENDIF -->
	<div id="cp-main">
