<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">

		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		
			<label>{L_VIEW_IMAGES}:</label>
			<fieldset data-role="controlgroup">
				<label for="images1"><input type="radio" name="images" id="images1" value="1"<!-- IF S_IMAGES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="images0"><input type="radio" name="images" id="images0" value="0"<!-- IF not S_IMAGES --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</fieldset>
		
		
			<label>{L_VIEW_FLASH}:</label>
			<fieldset data-role="controlgroup">
				<label for="flash1"><input type="radio" name="flash" id="flash1" value="1"<!-- IF S_FLASH --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="flash0"><input type="radio" name="flash" id="flash0" value="0"<!-- IF not S_FLASH --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</fieldset>
		
		
			<label>{L_VIEW_SMILIES}:</label>
			<fieldset data-role="controlgroup">
				<label for="smilies1"><input type="radio" name="smilies" id="smilies1" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="smilies0"><input type="radio" name="smilies" id="smilies0" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</fieldset>
		
		
			<label>{L_VIEW_SIGS}:</label>
			<fieldset data-role="controlgroup">
				<label for="sigs1"><input type="radio" name="sigs" id="sigs1" value="1"<!-- IF S_SIGS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="sigs0"><input type="radio" name="sigs" id="sigs0" value="0"<!-- IF not S_SIGS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</fieldset>
		
		
			<label>{L_VIEW_AVATARS}:</label>
			<fieldset data-role="controlgroup">
				<label for="avatars1"><input type="radio" name="avatars" id="avatars1" value="1"<!-- IF S_AVATARS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="avatars0"><input type="radio" name="avatars" id="avatars0" value="0"<!-- IF not S_AVATARS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</fieldset>
		
		<!-- IF S_CHANGE_CENSORS -->
			
				<label>{L_DISABLE_CENSORS}:</label>
				<fieldset data-role="controlgroup">
					<label for="wordcensor1"><input type="radio" name="wordcensor" id="wordcensor1" value="1"<!-- IF S_DISABLE_CENSORS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
					<label for="wordcensor0"><input type="radio" name="wordcensor" id="wordcensor0" value="0"<!-- IF not S_DISABLE_CENSORS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
				</fieldset>
			
		<!-- ENDIF -->
				<label>{L_VIEW_YOUTUBE}:</label>
				<fieldset data-role="controlgroup">
					<label for="youtube1"><input type="radio" name="youtube" id="youtube1" value="1"<!-- IF S_YOUTUBE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
					<label for="youtube0"><input type="radio" name="youtube" id="youtube0" value="0"<!-- IF not S_YOUTUBE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
				</fieldset>

				<label>Detect that you are using a mobile phone:</label>
				<fieldset data-role="controlgroup">
					<label for="mobile1"><input type="radio" name="mobile" id="mobile1" value="1"<!-- IF S_MOBILE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
					<label for="mobile0"><input type="radio" name="mobile" id="mobile0" value="0"<!-- IF not S_MOBILE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
				</fieldset>
		<!-- IF S_TOPIC_PREVIEW -->
			
				<label>{L_DISPLAY_TOPIC_PREVIEW}:</label>
				<fieldset data-role="controlgroup">
					<label for="topic_preview1"><input type="radio" name="topic_preview" id="topic_preview1" value="1"<!-- IF S_DISPLAY_TOPIC_PREVIEW --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
					<label for="topic_preview0"><input type="radio" name="topic_preview" id="topic_preview0" value="0"<!-- IF not S_DISPLAY_TOPIC_PREVIEW --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
				</fieldset>
			
		<!-- ENDIF -->

		</div>
		<div class="panel">
			<label>{L_VIEW_TOPICS_DAYS}:</label>
			{S_TOPIC_SORT_DAYS}
		
		
			<label>{L_VIEW_TOPICS_KEY}:</label>
			{S_TOPIC_SORT_KEY}
		
		
			<label>{L_VIEW_TOPICS_DIR}:</label>
			{S_TOPIC_SORT_DIR}
		
		</div>
		<div class="panel">
		
			<label>{L_VIEW_POSTS_DAYS}:</label>
			{S_POST_SORT_DAYS}
		
		
			<label>{L_VIEW_POSTS_KEY}:</label>
			{S_POST_SORT_KEY}
		
		
			<label>{L_VIEW_POSTS_DIR}:</label>
			{S_POST_SORT_DIR}

</div>
<div class="panel">
<fieldset data-role="controlgroup">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />
	{S_FORM_TOKEN}
</fieldset>
</div>
</form>

<!-- INCLUDE ucp_footer.html -->