<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">

	<p>{L_UCP_WELCOME}</p>

<!-- IF .topicrow -->
	<h3>{L_IMPORTANT_NEWS}</h3>

	<ul data-role="listview" data-split-theme="d" data-split-icon="star" data-inset="true">
	<!-- BEGIN topicrow -->
		<li <!-- IF topicrow.S_ROW_COUNT is even --> data-theme="c"<!-- ELSE --> data-theme="d"<!-- ENDIF -->>
			<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle"><img class="ui-li-thumb" src="{topicrow.TOPIC_FOLDER_IMG_SRC}"/>{topicrow.TOPIC_TITLE}</a>
			<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">New</a><!-- ENDIF -->
		</li>

	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->

	<h3>{L_YOUR_DETAILS}</h3>

	<div data-role="fieldcontain"> 
		<label for="joined">{L_JOINED}:</label><span id="joined">{JOINED}</span>
	</div>
	<div data-role="fieldcontain"> 
		<label for="visited">{L_VISITED}:</label><span id="visited">{LAST_VISIT_YOU}</span>
	</div>
	<div data-role="fieldcontain"> 
		<label for="totalposts">{L_TOTAL_POSTS}:</label><span id="totalposts">{POSTS}</span>
	</div>
		 <!-- IF POSTS_PCT --><!-- IF S_DISPLAY_SEARCH --> <a data-role="button" href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a><!-- ENDIF --><!-- ENDIF -->

		<!-- IF WARNINGS -->
		<div data-role="fieldcontain"> 
			<label for="error">{L_YOUR_WARNINGS}:</label><span id="error" class="error">{WARNING_IMG} [{WARNINGS}]</span>
		</div>
		 <!-- ENDIF -->

</div>

<!-- INCLUDE ucp_footer.html -->