<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

	<!-- IF S_IS_VLA --><p>Currently V/LA.</p><!-- ENDIF -->
				<label>{L_VLA_SET_START_DATE}:</label>
				<label for="vlastart_day">{L_DAY}: </label> <select name="vlastart_day" id="vlastart_day" >{S_VLASTART_DAY_OPTIONS}</select>
				<label for="vlastart_month">{L_MONTH}:</label>  <select name="vlastart_month" id="vlastart_month" >{S_VLASTART_MONTH_OPTIONS}</select>
				<label for="vlastart_year">{L_YEAR}: </label><select name="vlastart_year" id="vlastart_year">{S_VLASTART_YEAR_OPTIONS}</select>
				<label>{L_VLA_SET_END_DATE}:</label>
				<label for="vlatill_day">{L_DAY}: </label> <select name="vlatill_day" id="vlatill_day" >{S_VLATILL_DAY_OPTIONS}</select>
				<label for="vlatill_month">{L_MONTH}: </label> <select name="vlatill_month" id="vlatill_month" >{S_VLATILL_MONTH_OPTIONS}</select>
				<label for="vlatill_year">{L_YEAR}: </label><select name="vlatill_year" id="vlatill_year" >{S_VLATILL_YEAR_OPTIONS}</select>

	</fieldset>

</div>
<div class="panel">
<fieldset data-role="controlgroup">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	<!-- IF S_IS_VLA --><input type="submit" name="clearVLA" value="{L_CLEAR_VLA}" class="button1" /><!-- ENDIF -->
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />

	{S_FORM_TOKEN}
</fieldset>
</div>
</form>

<!-- INCLUDE ucp_footer.html -->