<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<p>{L_PROFILE_INFO_NOTICE}</p>

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<div data-role="fieldcontain" class="ui-hide-label">
			<label for="icq">{L_UCP_ICQ}:</label>
			<input placeholder="{L_UCP_ICQ}" type="text" name="icq" id="icq" maxlength="15" value="{ICQ}" class="inputbox" />
	</div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="aim">{L_UCP_AIM}:</label> 
		 <input placeholder="{L_UCP_AIM}" type="text" name="aim" id="aim" maxlength="255" value="{AIM}" class="inputbox" /> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="msn">{L_UCP_MSNM}:</label> 
		 <input placeholder="{L_UCP_MSNM}" type="text" name="msn" id="msn" maxlength="255" value="{MSN}" class="inputbox" /> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="yim">{L_UCP_YIM}:</label> 
		 <input placeholder="{L_UCP_YIM}" type="text" name="yim" id="yim" maxlength="255" value="{YIM}" class="inputbox" /> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="jabber">{L_UCP_JABBER}:</label> 
		 <input placeholder="{L_UCP_JABBER}" type="text" name="jabber" id="jabber" maxlength="255" value="{JABBER}" class="inputbox" /> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="website">{L_WEBSITE}:</label> 
		 <input placeholder="{L_WEBSITE}" type="text" name="website" id="website" maxlength="255" value="{WEBSITE}" class="inputbox" /> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="location">{L_LOCATION}:</label> 
		 <input placeholder="{L_LOCATION}" type="text" name="location" id="location" maxlength="255" value="{LOCATION}" class="inputbox" /> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label"> 
		 <label for="occupation">{L_OCCUPATION}:</label> 
		 <textarea placeholder="{L_OCCUPATION}" name="occupation" id="occupation" class="inputbox" rows="3" cols="30">{OCCUPATION}</textarea> 
	 </div>
	<div data-role="fieldcontain" class="ui-hide-label">  
		 <label for="interests">{L_INTERESTS}:</label> 
		 <textarea placeholder="{L_INTERESTS}"  name="interests" id="interests" class="inputbox" rows="3" cols="30">{INTERESTS}</textarea> 
	 </div>

	<!-- IF S_BIRTHDAYS_ENABLED -->
		 
			 <label for="bday_day">{L_BIRTHDAY}:</label><br /><span>{L_BIRTHDAY_EXPLAIN}</span> 
			 <div data-role="fieldcontain"> 
				<label for="bday_day">{L_DAY}:</label>  <select name="bday_day" id="bday_day">{S_BIRTHDAY_DAY_OPTIONS}</select>
			</div>
			 <div data-role="fieldcontain"> 	
				<label for="bday_month">{L_MONTH}:</label> <select name="bday_month" id="bday_month">{S_BIRTHDAY_MONTH_OPTIONS}</select>
			</div>
			 <div data-role="fieldcontain"> 	
				<label for="bday_year">{L_YEAR}:</label> <select name="bday_year" id="bday_year">{S_BIRTHDAY_YEAR_OPTIONS}</select>
			</div>
			 
		 
	<!-- ENDIF -->
	<!-- BEGIN profile_fields -->
		 
			 <label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
			<!-- IF profile_fields.ERROR --><dd class="error">{profile_fields.ERROR} <!-- ENDIF -->
			 {profile_fields.FIELD} 
		 
	<!-- END profile_fields -->
	</fieldset>

</div>
<div class="panel">
<fieldset data-role="controlgroup">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />
	{S_FORM_TOKEN}
</fieldset>
</div>
</form>

<!-- INCLUDE ucp_footer.html -->