<!-- INCLUDE ucp_header.html -->

<!-- IF not PROMPT -->
	<!-- INCLUDE ucp_pm_message_header.html -->
	<div class="pm-panel-message"><div>
<!-- ENDIF -->

<!-- IF PROMPT -->
	<h2>{L_EXPORT_AS_CSV}</h2>
	<form id="viewfolder" method="post" action="{S_PM_ACTION}">
		<h3>{L_OPTIONS}</h3>
		<fieldset>
			<div data-role="fieldcontain" class="ui-hide-label">
				<label for="delimiter">{L_DELIMITER}:</label>
				<input placeholder="{L_DELIMITER}" class="inputbox" type="text" id="delimiter" name="delimiter" value="," />
			</div>
			<div data-role="fieldcontain" class="ui-hide-label">
				<label for="enclosure">{L_ENCLOSURE}:</label>
				<input placeholder="{L_ENCLOSURE}" class="inputbox" type="text" id="enclosure" name="enclosure" value="&#034;" />
			</div>
		</fieldset>
	<fieldset data-role="controlgroup">
		<input type="hidden" name="export_option" value="CSV" />
		<input class="button1" type="submit" name="submit_export" value="{L_EXPORT_FOLDER}" />
		<input class="button2" type="reset" value="Reset" name="reset" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ELSE -->

	<!-- IF NUM_REMOVED -->
		<div class="notice">
			<p>{RULE_REMOVED_MESSAGES}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF NUM_NOT_MOVED -->
		<div class="notice">
			<p>{NOT_MOVED_MESSAGES}<br />{RELEASE_MESSAGE_INFO}</p>
		</div>
	<!-- ENDIF -->
	<div class="clear"></div>
	<!-- IF .messagerow -->
		<div class="ui-grid-a eighttworatio">
		<div class="ui-block-a">
		<ul data-role="listview" data-split-theme="d" data-inset="true">
		<!-- BEGIN messagerow -->
		<li <!-- IF messagerow.S_ROW_COUNT is even --> data-theme="c"<!-- ELSE --> data-theme="d"<!-- ENDIF -->>
		<!-- IF messagerow.S_PM_DELETED -->
			<a href="{messagerow.U_REMOVE_PM}" class="topictitle"><!-- IF messagerow.S_AUTHOR_DELETED -->{L_PM_FROM_REMOVED_AUTHOR}<!-- ELSE -->{L_DELETE_MESSAGE}<!-- ENDIF --></a>
		<!-- ELSE -->
			<a href="{messagerow.U_VIEW_PM}" class="topictitle"><img class="ui-li-thumb" src="{messagerow.FOLDER_IMG_SRC}"/>{messagerow.SUBJECT}</a>
		<!-- ENDIF -->
		</li>
		<!-- END messagerow -->
		</ul>
		</div>
		<div class="ui-block-b markbuttons">
		<!-- BEGIN messagerow -->
		<fieldset data-role="controlgroup" data-type="horizontal">
			<label for="m{messagerow.MESSAGE_ID}">M</label><input id="m{messagerow.MESSAGE_ID}" type="checkbox" name="marked_msg_id[]" value="{messagerow.MESSAGE_ID}" />
		</fieldset>
		<!-- END messagerow -->
		</div>
		</div>
	<!-- ELSE -->
		<p><strong>
			<!-- IF S_COMPOSE_PM_VIEW and S_NO_AUTH_SEND_MESSAGE -->
				<!-- IF S_USER_NEW -->{L_USER_NEW_PERMISSION_DISALLOWED}<!-- ELSE -->{L_NO_AUTH_SEND_MESSAGE}<!-- ENDIF -->
			<!-- ELSE -->
				{L_NO_MESSAGES}
			<!-- ENDIF -->
		</strong></p>
	<!-- ENDIF -->

	<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
	<fieldset data-role="controlgroup">
		<div class="left-box"><label for="export_option">{L_EXPORT_FOLDER}:</label>  <select name="export_option" id="export_option"><option value="CSV">{L_EXPORT_AS_CSV}</option><option value="CSV_EXCEL">{L_EXPORT_AS_CSV_EXCEL}</option><option value="XML">{L_EXPORT_AS_XML}</option></select><input class="button2" type="submit" name="submit_export" value="{L_GO}" /></div>
	</fieldset>
	<fieldset data-role="controlgroup">
		<select name="mark_option">{S_MARK_OPTIONS}{S_MOVE_MARKED_OPTIONS}</select> <input class="button2" type="submit" name="submit_mark" value="{L_GO}" />
	</fieldset>
	<fieldset>
		<div class="ui-grid-a"><div class="ui-block-a"><a  data-role="button" href="#" onclick="marklist('viewfolder', 'marked_msg', true); return false;">{L_MARK_ALL}</a></div><div class="ui-block-b"><a data-role="button" href="#" onclick="marklist('viewfolder', 'marked_msg', false); return false;">{L_UNMARK_ALL}</a></div></div>
	</fieldset>

	<hr />
	<!-- ENDIF -->
	</div>

	<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
	<fieldset data-role="controlgroup">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<label>{L_DISPLAY}:</label> {S_SELECT_SORT_DAYS}
	</fieldset>
	<fieldset data-role="controlgroup">
		<label>{L_SORT_BY}:</label> {S_SELECT_SORT_KEY}
		<label>{S_SELECT_SORT_DIR}</label> <input type="submit" name="sort" value="{L_GO}" class="button2" />
		<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
	</fieldset>
	<!-- ENDIF -->

	<!-- INCLUDE ucp_pm_message_footer.html -->
<!-- ENDIF -->
<!-- INCLUDE ucp_footer.html -->