<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>
{PAGE_NUMBER}


<div class="panel">

<!-- IF S_NO_DISPLAY_BOOKMARKS -->
	<p class="error">{L_BOOKMARKS_DISABLED}</p>
<!-- ELSE -->

<!-- IF .topicrow -->

	<div class="ui-grid-a eighttworatio">
	<div class="ui-block-a">
	<ul data-role="listview" data-split-theme="d" data-inset="true">
	<!-- BEGIN topicrow -->

		<li <!-- IF topicrow.S_ROW_COUNT is even --> data-theme="c"<!-- ELSE --> data-theme="d"<!-- ENDIF -->>
		<!-- IF topicrow.S_DELETED_TOPIC -->
				{L_DELETED_TOPIC}
			<!-- ELSE -->
			<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle"><img class="ui-li-thumb" src="{topicrow.TOPIC_FOLDER_IMG_SRC}"/>{topicrow.TOPIC_TITLE}</a>
			<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" data-theme="e">New</a><!-- ELSE -->
			<a href="{topicrow.U_NEWEST_POST}">Last Page</a>
			<!-- ENDIF -->
		<!-- ENDIF -->
		</li>
	<!-- END topicrow -->
	</ul>
	</div>
	<div class="ui-block-b markbuttons">
<!-- BEGIN topicrow -->
		<label for="t{topicrow.TOPIC_ID}">M</label><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" />
	<!-- END topicrow -->
	</div>
	</div>
	<!-- IF PAGINATION -->
		<div class="buttonpannel bg1">
		<div class="pagination">
		<div data-role="controlgroup" data-type="horizontal">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" data-direction="reverse" data-role="button" data-icon="arrow-l"  data-inline="true" title="Previous Page" class="grouped_icon_button">Previous</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE or PREVIOUS_PAGE --><a href="#jumpPage" data-role="button" data-inline="true" data-rel="dialog" title="{L_JUMP_TO_PAGE}">Jump</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" data-role="button" data-iconpos="right" data-icon="arrow-r"  data-inline="true" title="Next Page" class="grouped_icon_button">Next</a><!-- ENDIF -->
		</div>
		</div>
		</div>
	<!-- ENDIF -->


<!-- ELSE -->
	<p><strong>{L_NO_BOOKMARKS}</strong></p>
<!-- ENDIF -->

<!-- ENDIF -->

</div>

<!-- IF .topicrow and not S_NO_DISPLAY_BOOKMARKS -->
<div class="panel">
		<fieldset class="display-actions">
			<input type="submit" name="unbookmark" value="Remove Marked" class="button2" />
			<div class="ui-grid-a"><div class="ui-block-a"><a data-role="button" href="#" onclick="marklist('ucp', '', true); return false;">{L_MARK_ALL}</a></div> <div class="ui-block-b"><a data-role="button" href="#" onclick="marklist('ucp', '', false); return false;">{L_UNMARK_ALL}</a></div></div>
			{S_FORM_TOKEN}
		</fieldset>
</div>
<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->